AtomPair CA 2 CA 7 HARMONIC 8.77 1.5 INNER
AtomPair CA 2 CA 12 HARMONIC 15.03 1.5 INNER
AtomPair CA 2 CA 17 HARMONIC 20.95 1.5 INNER
AtomPair CA 2 CA 22 HARMONIC 25.45 1.5 INNER
AtomPair CA 3 CA 8 HARMONIC 8.72 1.5 INNER
AtomPair CA 3 CA 13 HARMONIC 14.22 1.5 INNER
AtomPair CA 3 CA 18 HARMONIC 21.44 1.5 INNER
AtomPair CA 4 CA 9 HARMONIC 9.00 1.5 INNER
AtomPair CA 4 CA 14 HARMONIC 14.42 1.5 INNER
AtomPair CA 4 CA 19 HARMONIC 21.93 1.5 INNER
AtomPair CA 5 CA 10 HARMONIC 8.35 1.5 INNER
AtomPair CA 5 CA 15 HARMONIC 14.61 1.5 INNER
AtomPair CA 5 CA 20 HARMONIC 22.84 1.5 INNER
AtomPair CA 6 CA 11 HARMONIC 8.13 1.5 INNER
AtomPair CA 6 CA 16 HARMONIC 14.83 1.5 INNER
AtomPair CA 6 CA 21 HARMONIC 22.36 1.5 INNER
AtomPair CA 7 CA 12 HARMONIC 7.04 1.5 INNER
AtomPair CA 7 CA 17 HARMONIC 14.47 1.5 INNER
AtomPair CA 7 CA 22 HARMONIC 19.49 1.5 INNER
AtomPair CA 8 CA 13 HARMONIC 6.05 1.5 INNER
AtomPair CA 8 CA 18 HARMONIC 14.48 1.5 INNER
AtomPair CA 9 CA 14 HARMONIC 5.82 1.5 INNER
AtomPair CA 9 CA 19 HARMONIC 13.97 1.5 INNER
AtomPair CA 10 CA 15 HARMONIC 7.60 1.5 INNER
AtomPair CA 10 CA 20 HARMONIC 16.78 1.5 INNER
AtomPair CA 11 CA 16 HARMONIC 8.87 1.5 INNER
AtomPair CA 11 CA 21 HARMONIC 17.25 1.5 INNER
AtomPair CA 12 CA 17 HARMONIC 8.98 1.5 INNER
AtomPair CA 12 CA 22 HARMONIC 14.31 1.5 INNER
AtomPair CA 13 CA 18 HARMONIC 8.90 1.5 INNER
AtomPair CA 14 CA 19 HARMONIC 8.42 1.5 INNER
AtomPair CA 15 CA 20 HARMONIC 9.65 1.5 INNER
AtomPair CA 16 CA 21 HARMONIC 9.78 1.5 INNER
AtomPair CA 17 CA 22 HARMONIC 5.37 1.5 INNER
AtomPair CA 26 CA 31 HARMONIC 8.66 1.5 INNER
AtomPair CA 26 CA 36 HARMONIC 15.29 1.5 INNER
AtomPair CA 26 CA 41 HARMONIC 22.62 1.5 INNER
AtomPair CA 27 CA 32 HARMONIC 8.66 1.5 INNER
AtomPair CA 27 CA 37 HARMONIC 15.29 1.5 INNER
AtomPair CA 27 CA 42 HARMONIC 22.62 1.5 INNER
AtomPair CA 28 CA 33 HARMONIC 8.66 1.5 INNER
AtomPair CA 28 CA 38 HARMONIC 15.29 1.5 INNER
AtomPair CA 28 CA 43 HARMONIC 22.62 1.5 INNER
AtomPair CA 29 CA 34 HARMONIC 8.66 1.5 INNER
AtomPair CA 29 CA 39 HARMONIC 15.29 1.5 INNER
AtomPair CA 29 CA 44 HARMONIC 22.62 1.5 INNER
AtomPair CA 30 CA 35 HARMONIC 8.66 1.5 INNER
AtomPair CA 30 CA 40 HARMONIC 15.29 1.5 INNER
AtomPair CA 30 CA 45 HARMONIC 22.62 1.5 INNER
AtomPair CA 31 CA 36 HARMONIC 8.66 1.5 INNER
AtomPair CA 31 CA 41 HARMONIC 15.29 1.5 INNER
AtomPair CA 32 CA 37 HARMONIC 8.66 1.5 INNER
AtomPair CA 32 CA 42 HARMONIC 15.29 1.5 INNER
AtomPair CA 33 CA 38 HARMONIC 8.66 1.5 INNER
AtomPair CA 33 CA 43 HARMONIC 15.29 1.5 INNER
AtomPair CA 34 CA 39 HARMONIC 8.66 1.5 INNER
AtomPair CA 34 CA 44 HARMONIC 15.29 1.5 INNER
AtomPair CA 35 CA 40 HARMONIC 8.66 1.5 INNER
AtomPair CA 35 CA 45 HARMONIC 15.29 1.5 INNER
AtomPair CA 36 CA 41 HARMONIC 8.66 1.5 INNER
AtomPair CA 37 CA 42 HARMONIC 8.66 1.5 INNER
AtomPair CA 38 CA 43 HARMONIC 8.66 1.5 INNER
AtomPair CA 39 CA 44 HARMONIC 8.66 1.5 INNER
AtomPair CA 40 CA 45 HARMONIC 8.66 1.5 INNER
AtomPair CA 50 CA 51 HARMONIC 3.80 1.5 INNER
AtomPair CA 50 CA 56 HARMONIC 9.83 1.5 INNER
AtomPair CA 50 CA 61 HARMONIC 19.74 1.5 INNER
AtomPair CA 51 CA 52 HARMONIC 3.80 1.5 INNER
AtomPair CA 51 CA 57 HARMONIC 9.86 1.5 INNER
AtomPair CA 51 CA 62 HARMONIC 19.45 1.5 INNER
AtomPair CA 52 CA 53 HARMONIC 3.80 1.5 INNER
AtomPair CA 52 CA 58 HARMONIC 10.13 1.5 INNER
AtomPair CA 52 CA 63 HARMONIC 21.11 1.5 INNER
AtomPair CA 53 CA 54 HARMONIC 3.80 1.5 INNER
AtomPair CA 53 CA 59 HARMONIC 10.11 1.5 INNER
AtomPair CA 53 CA 64 HARMONIC 21.83 1.5 INNER
AtomPair CA 54 CA 55 HARMONIC 3.80 1.5 INNER
AtomPair CA 54 CA 60 HARMONIC 11.87 1.5 INNER
AtomPair CA 55 CA 56 HARMONIC 3.80 1.5 INNER
AtomPair CA 55 CA 61 HARMONIC 12.37 1.5 INNER
AtomPair CA 56 CA 57 HARMONIC 3.80 1.5 INNER
AtomPair CA 56 CA 62 HARMONIC 11.59 1.5 INNER
AtomPair CA 57 CA 58 HARMONIC 3.81 1.5 INNER
AtomPair CA 57 CA 63 HARMONIC 15.24 1.5 INNER
AtomPair CA 58 CA 59 HARMONIC 3.79 1.5 INNER
AtomPair CA 58 CA 64 HARMONIC 16.69 1.5 INNER
AtomPair CA 59 CA 60 HARMONIC 3.80 1.5 INNER
AtomPair CA 60 CA 61 HARMONIC 2.84 1.5 INNER
AtomPair CA 61 CA 62 HARMONIC 3.80 1.5 INNER
AtomPair CA 62 CA 63 HARMONIC 3.80 1.5 INNER
AtomPair CA 63 CA 64 HARMONIC 3.80 1.5 INNER
AtomPair CA 2 CA 26 HARMONIC 29.22 3.0 OUTER
AtomPair CA 2 CA 27 HARMONIC 29.19 3.0 OUTER
AtomPair CA 2 CA 28 HARMONIC 27.70 3.0 OUTER
AtomPair CA 2 CA 29 HARMONIC 24.89 3.0 OUTER
AtomPair CA 2 CA 30 HARMONIC 24.23 3.0 OUTER
AtomPair CA 2 CA 31 HARMONIC 24.25 3.0 OUTER
AtomPair CA 2 CA 32 HARMONIC 21.75 3.0 OUTER
AtomPair CA 2 CA 33 HARMONIC 19.38 3.0 OUTER
AtomPair CA 2 CA 34 HARMONIC 19.96 3.0 OUTER
AtomPair CA 2 CA 35 HARMONIC 19.30 3.0 OUTER
AtomPair CA 2 CA 36 HARMONIC 15.92 3.0 OUTER
AtomPair CA 2 CA 37 HARMONIC 15.04 3.0 OUTER
AtomPair CA 2 CA 38 HARMONIC 16.46 3.0 OUTER
AtomPair CA 2 CA 39 HARMONIC 14.47 3.0 OUTER
AtomPair CA 2 CA 40 HARMONIC 11.11 3.0 OUTER
AtomPair CA 2 CA 41 HARMONIC 12.75 3.0 OUTER
AtomPair CA 2 CA 42 HARMONIC 13.90 3.0 OUTER
AtomPair CA 2 CA 43 HARMONIC 10.60 3.0 OUTER
AtomPair CA 2 CA 44 HARMONIC 9.45 3.0 OUTER
AtomPair CA 2 CA 45 HARMONIC 12.97 3.0 OUTER
AtomPair CA 3 CA 26 HARMONIC 28.90 3.0 OUTER
AtomPair CA 3 CA 27 HARMONIC 29.36 3.0 OUTER
AtomPair CA 3 CA 28 HARMONIC 27.91 3.0 OUTER
AtomPair CA 3 CA 29 HARMONIC 24.78 3.0 OUTER
AtomPair CA 3 CA 30 HARMONIC 24.47 3.0 OUTER
AtomPair CA 3 CA 31 HARMONIC 24.96 3.0 OUTER
AtomPair CA 3 CA 32 HARMONIC 22.25 3.0 OUTER
AtomPair CA 3 CA 33 HARMONIC 19.77 3.0 OUTER
AtomPair CA 3 CA 34 HARMONIC 21.00 3.0 OUTER
AtomPair CA 3 CA 35 HARMONIC 20.61 3.0 OUTER
AtomPair CA 3 CA 36 HARMONIC 16.95 3.0 OUTER
AtomPair CA 3 CA 37 HARMONIC 16.41 3.0 OUTER
AtomPair CA 3 CA 38 HARMONIC 18.48 3.0 OUTER
AtomPair CA 3 CA 39 HARMONIC 16.54 3.0 OUTER
AtomPair CA 3 CA 40 HARMONIC 13.21 3.0 OUTER
AtomPair CA 3 CA 41 HARMONIC 15.39 3.0 OUTER
AtomPair CA 3 CA 42 HARMONIC 16.88 3.0 OUTER
AtomPair CA 3 CA 43 HARMONIC 13.68 3.0 OUTER
AtomPair CA 3 CA 44 HARMONIC 12.84 3.0 OUTER
AtomPair CA 3 CA 45 HARMONIC 16.52 3.0 OUTER
AtomPair CA 4 CA 26 HARMONIC 27.42 3.0 OUTER
AtomPair CA 4 CA 27 HARMONIC 27.92 3.0 OUTER
AtomPair CA 4 CA 28 HARMONIC 26.05 3.0 OUTER
AtomPair CA 4 CA 29 HARMONIC 23.05 3.0 OUTER
AtomPair CA 4 CA 30 HARMONIC 23.21 3.0 OUTER
AtomPair CA 4 CA 31 HARMONIC 23.44 3.0 OUTER
AtomPair CA 4 CA 32 HARMONIC 20.37 3.0 OUTER
AtomPair CA 4 CA 33 HARMONIC 18.39 3.0 OUTER
AtomPair CA 4 CA 34 HARMONIC 19.94 3.0 OUTER
AtomPair CA 4 CA 35 HARMONIC 19.03 3.0 OUTER
AtomPair CA 4 CA 36 HARMONIC 15.30 3.0 OUTER
AtomPair CA 4 CA 37 HARMONIC 15.60 3.0 OUTER
AtomPair CA 4 CA 38 HARMONIC 17.56 3.0 OUTER
AtomPair CA 4 CA 39 HARMONIC 15.07 3.0 OUTER
AtomPair CA 4 CA 40 HARMONIC 12.32 3.0 OUTER
AtomPair CA 4 CA 41 HARMONIC 15.20 3.0 OUTER
AtomPair CA 4 CA 42 HARMONIC 16.16 3.0 OUTER
AtomPair CA 4 CA 43 HARMONIC 12.82 3.0 OUTER
AtomPair CA 4 CA 44 HARMONIC 13.09 3.0 OUTER
AtomPair CA 4 CA 45 HARMONIC 16.72 3.0 OUTER
AtomPair CA 5 CA 26 HARMONIC 24.53 3.0 OUTER
AtomPair CA 5 CA 27 HARMONIC 24.72 3.0 OUTER
AtomPair CA 5 CA 28 HARMONIC 22.99 3.0 OUTER
AtomPair CA 5 CA 29 HARMONIC 20.09 3.0 OUTER
AtomPair CA 5 CA 30 HARMONIC 19.92 3.0 OUTER
AtomPair CA 5 CA 31 HARMONIC 20.03 3.0 OUTER
AtomPair CA 5 CA 32 HARMONIC 17.16 3.0 OUTER
AtomPair CA 5 CA 33 HARMONIC 15.01 3.0 OUTER
AtomPair CA 5 CA 34 HARMONIC 16.28 3.0 OUTER
AtomPair CA 5 CA 35 HARMONIC 15.49 3.0 OUTER
AtomPair CA 5 CA 36 HARMONIC 11.79 3.0 OUTER
AtomPair CA 5 CA 37 HARMONIC 11.83 3.0 OUTER
AtomPair CA 5 CA 38 HARMONIC 13.85 3.0 OUTER
AtomPair CA 5 CA 39 HARMONIC 11.60 3.0 OUTER
AtomPair CA 5 CA 40 HARMONIC 8.67 3.0 OUTER
AtomPair CA 5 CA 41 HARMONIC 11.65 3.0 OUTER
AtomPair CA 5 CA 42 HARMONIC 12.95 3.0 OUTER
AtomPair CA 5 CA 43 HARMONIC 10.00 3.0 OUTER
AtomPair CA 5 CA 44 HARMONIC 10.31 3.0 OUTER
AtomPair CA 5 CA 45 HARMONIC 14.03 3.0 OUTER
AtomPair CA 6 CA 26 HARMONIC 24.21 3.0 OUTER
AtomPair CA 6 CA 27 HARMONIC 24.72 3.0 OUTER
AtomPair CA 6 CA 28 HARMONIC 23.48 3.0 OUTER
AtomPair CA 6 CA 29 HARMONIC 20.25 3.0 OUTER
AtomPair CA 6 CA 30 HARMONIC 19.81 3.0 OUTER
AtomPair CA 6 CA 31 HARMONIC 20.59 3.0 OUTER
AtomPair CA 6 CA 32 HARMONIC 18.04 3.0 OUTER
AtomPair CA 6 CA 33 HARMONIC 15.27 3.0 OUTER
AtomPair CA 6 CA 34 HARMONIC 16.72 3.0 OUTER
AtomPair CA 6 CA 35 HARMONIC 16.78 3.0 OUTER
AtomPair CA 6 CA 36 HARMONIC 13.10 3.0 OUTER
AtomPair CA 6 CA 37 HARMONIC 12.45 3.0 OUTER
AtomPair CA 6 CA 38 HARMONIC 15.13 3.0 OUTER
AtomPair CA 6 CA 39 HARMONIC 13.72 3.0 OUTER
AtomPair CA 6 CA 40 HARMONIC 10.37 3.0 OUTER
AtomPair CA 6 CA 41 HARMONIC 12.88 3.0 OUTER
AtomPair CA 6 CA 42 HARMONIC 15.05 3.0 OUTER
AtomPair CA 6 CA 43 HARMONIC 12.57 3.0 OUTER
AtomPair CA 6 CA 44 HARMONIC 11.93 3.0 OUTER
AtomPair CA 6 CA 45 HARMONIC 15.76 3.0 OUTER
AtomPair CA 7 CA 26 HARMONIC 23.97 3.0 OUTER
AtomPair CA 7 CA 27 HARMONIC 24.97 3.0 OUTER
AtomPair CA 7 CA 28 HARMONIC 23.50 3.0 OUTER
AtomPair CA 7 CA 29 HARMONIC 20.10 3.0 OUTER
AtomPair CA 7 CA 30 HARMONIC 20.33 3.0 OUTER
AtomPair CA 7 CA 31 HARMONIC 21.34 3.0 OUTER
AtomPair CA 7 CA 32 HARMONIC 18.42 3.0 OUTER
AtomPair CA 7 CA 33 HARMONIC 15.99 3.0 OUTER
AtomPair CA 7 CA 34 HARMONIC 18.16 3.0 OUTER
AtomPair CA 7 CA 35 HARMONIC 18.08 3.0 OUTER
AtomPair CA 7 CA 36 HARMONIC 14.27 3.0 OUTER
AtomPair CA 7 CA 37 HARMONIC 14.49 3.0 OUTER
AtomPair CA 7 CA 38 HARMONIC 17.38 3.0 OUTER
AtomPair CA 7 CA 39 HARMONIC 15.67 3.0 OUTER
AtomPair CA 7 CA 40 HARMONIC 12.85 3.0 OUTER
AtomPair CA 7 CA 41 HARMONIC 15.89 3.0 OUTER
AtomPair CA 7 CA 42 HARMONIC 17.77 3.0 OUTER
AtomPair CA 7 CA 43 HARMONIC 15.18 3.0 OUTER
AtomPair CA 7 CA 44 HARMONIC 15.20 3.0 OUTER
AtomPair CA 7 CA 45 HARMONIC 19.00 3.0 OUTER
AtomPair CA 8 CA 26 HARMONIC 21.20 3.0 OUTER
AtomPair CA 8 CA 27 HARMONIC 22.06 3.0 OUTER
AtomPair CA 8 CA 28 HARMONIC 20.25 3.0 OUTER
AtomPair CA 8 CA 29 HARMONIC 17.01 3.0 OUTER
AtomPair CA 8 CA 30 HARMONIC 17.55 3.0 OUTER
AtomPair CA 8 CA 31 HARMONIC 18.25 3.0 OUTER
AtomPair CA 8 CA 32 HARMONIC 15.07 3.0 OUTER
AtomPair CA 8 CA 33 HARMONIC 13.07 3.0 OUTER
AtomPair CA 8 CA 34 HARMONIC 15.46 3.0 OUTER
AtomPair CA 8 CA 35 HARMONIC 14.99 3.0 OUTER
AtomPair CA 8 CA 36 HARMONIC 11.19 3.0 OUTER
AtomPair CA 8 CA 37 HARMONIC 12.18 3.0 OUTER
AtomPair CA 8 CA 38 HARMONIC 14.99 3.0 OUTER
AtomPair CA 8 CA 39 HARMONIC 13.06 3.0 OUTER
AtomPair CA 8 CA 40 HARMONIC 10.91 3.0 OUTER
AtomPair CA 8 CA 41 HARMONIC 14.40 3.0 OUTER
AtomPair CA 8 CA 42 HARMONIC 15.98 3.0 OUTER
AtomPair CA 8 CA 43 HARMONIC 13.70 3.0 OUTER
AtomPair CA 8 CA 44 HARMONIC 14.55 3.0 OUTER
AtomPair CA 8 CA 45 HARMONIC 18.15 3.0 OUTER
AtomPair CA 9 CA 26 HARMONIC 18.92 3.0 OUTER
AtomPair CA 9 CA 27 HARMONIC 19.65 3.0 OUTER
AtomPair CA 9 CA 28 HARMONIC 18.36 3.0 OUTER
AtomPair CA 9 CA 29 HARMONIC 14.99 3.0 OUTER
AtomPair CA 9 CA 30 HARMONIC 14.90 3.0 OUTER
AtomPair CA 9 CA 31 HARMONIC 15.97 3.0 OUTER
AtomPair CA 9 CA 32 HARMONIC 13.29 3.0 OUTER
AtomPair CA 9 CA 33 HARMONIC 10.56 3.0 OUTER
AtomPair CA 9 CA 34 HARMONIC 12.81 3.0 OUTER
AtomPair CA 9 CA 35 HARMONIC 13.14 3.0 OUTER
AtomPair CA 9 CA 36 HARMONIC 9.48 3.0 OUTER
AtomPair CA 9 CA 37 HARMONIC 9.64 3.0 OUTER
AtomPair CA 9 CA 38 HARMONIC 12.98 3.0 OUTER
AtomPair CA 9 CA 39 HARMONIC 11.97 3.0 OUTER
AtomPair CA 9 CA 40 HARMONIC 9.56 3.0 OUTER
AtomPair CA 9 CA 41 HARMONIC 12.65 3.0 OUTER
AtomPair CA 9 CA 42 HARMONIC 14.97 3.0 OUTER
AtomPair CA 9 CA 43 HARMONIC 13.40 3.0 OUTER
AtomPair CA 9 CA 44 HARMONIC 13.71 3.0 OUTER
AtomPair CA 9 CA 45 HARMONIC 17.24 3.0 OUTER
AtomPair CA 10 CA 26 HARMONIC 20.42 3.0 OUTER
AtomPair CA 10 CA 27 HARMONIC 21.64 3.0 OUTER
AtomPair CA 10 CA 28 HARMONIC 20.76 3.0 OUTER
AtomPair CA 10 CA 29 HARMONIC 17.13 3.0 OUTER
AtomPair CA 10 CA 30 HARMONIC 17.04 3.0 OUTER
AtomPair CA 10 CA 31 HARMONIC 18.73 3.0 OUTER
AtomPair CA 10 CA 32 HARMONIC 16.30 3.0 OUTER
AtomPair CA 10 CA 33 HARMONIC 13.33 3.0 OUTER
AtomPair CA 10 CA 34 HARMONIC 15.73 3.0 OUTER
AtomPair CA 10 CA 35 HARMONIC 16.59 3.0 OUTER
AtomPair CA 10 CA 36 HARMONIC 13.08 3.0 OUTER
AtomPair CA 10 CA 37 HARMONIC 12.83 3.0 OUTER
AtomPair CA 10 CA 38 HARMONIC 16.35 3.0 OUTER
AtomPair CA 10 CA 39 HARMONIC 15.64 3.0 OUTER
AtomPair CA 10 CA 40 HARMONIC 12.92 3.0 OUTER
AtomPair CA 10 CA 41 HARMONIC 15.63 3.0 OUTER
AtomPair CA 10 CA 42 HARMONIC 18.26 3.0 OUTER
AtomPair CA 10 CA 43 HARMONIC 16.55 3.0 OUTER
AtomPair CA 10 CA 44 HARMONIC 16.28 3.0 OUTER
AtomPair CA 10 CA 45 HARMONIC 19.93 3.0 OUTER
AtomPair CA 11 CA 26 HARMONIC 20.74 3.0 OUTER
AtomPair CA 11 CA 27 HARMONIC 22.44 3.0 OUTER
AtomPair CA 11 CA 28 HARMONIC 21.23 3.0 OUTER
AtomPair CA 11 CA 29 HARMONIC 17.55 3.0 OUTER
AtomPair CA 11 CA 30 HARMONIC 18.25 3.0 OUTER
AtomPair CA 11 CA 31 HARMONIC 20.01 3.0 OUTER
AtomPair CA 11 CA 32 HARMONIC 17.20 3.0 OUTER
AtomPair CA 11 CA 33 HARMONIC 14.81 3.0 OUTER
AtomPair CA 11 CA 34 HARMONIC 17.76 3.0 OUTER
AtomPair CA 11 CA 35 HARMONIC 18.28 3.0 OUTER
AtomPair CA 11 CA 36 HARMONIC 14.75 3.0 OUTER
AtomPair CA 11 CA 37 HARMONIC 15.36 3.0 OUTER
AtomPair CA 11 CA 38 HARMONIC 18.80 3.0 OUTER
AtomPair CA 11 CA 39 HARMONIC 17.67 3.0 OUTER
AtomPair CA 11 CA 40 HARMONIC 15.41 3.0 OUTER
AtomPair CA 11 CA 41 HARMONIC 18.54 3.0 OUTER
AtomPair CA 11 CA 42 HARMONIC 20.76 3.0 OUTER
AtomPair CA 11 CA 43 HARMONIC 18.83 3.0 OUTER
AtomPair CA 11 CA 44 HARMONIC 19.09 3.0 OUTER
AtomPair CA 11 CA 45 HARMONIC 22.78 3.0 OUTER
AtomPair CA 12 CA 26 HARMONIC 18.44 3.0 OUTER
AtomPair CA 12 CA 27 HARMONIC 20.06 3.0 OUTER
AtomPair CA 12 CA 28 HARMONIC 18.39 3.0 OUTER
AtomPair CA 12 CA 29 HARMONIC 14.86 3.0 OUTER
AtomPair CA 12 CA 30 HARMONIC 16.11 3.0 OUTER
AtomPair CA 12 CA 31 HARMONIC 17.53 3.0 OUTER
AtomPair CA 12 CA 32 HARMONIC 14.38 3.0 OUTER
AtomPair CA 12 CA 33 HARMONIC 12.61 3.0 OUTER
AtomPair CA 12 CA 34 HARMONIC 15.87 3.0 OUTER
AtomPair CA 12 CA 35 HARMONIC 15.93 3.0 OUTER
AtomPair CA 12 CA 36 HARMONIC 12.53 3.0 OUTER
AtomPair CA 12 CA 37 HARMONIC 14.01 3.0 OUTER
AtomPair CA 12 CA 38 HARMONIC 17.24 3.0 OUTER
AtomPair CA 12 CA 39 HARMONIC 15.86 3.0 OUTER
AtomPair CA 12 CA 40 HARMONIC 14.34 3.0 OUTER
AtomPair CA 12 CA 41 HARMONIC 17.80 3.0 OUTER
AtomPair CA 12 CA 42 HARMONIC 19.61 3.0 OUTER
AtomPair CA 12 CA 43 HARMONIC 17.90 3.0 OUTER
AtomPair CA 12 CA 44 HARMONIC 18.88 3.0 OUTER
AtomPair CA 12 CA 45 HARMONIC 22.36 3.0 OUTER
AtomPair CA 13 CA 26 HARMONIC 15.36 3.0 OUTER
AtomPair CA 13 CA 27 HARMONIC 16.63 3.0 OUTER
AtomPair CA 13 CA 28 HARMONIC 15.11 3.0 OUTER
AtomPair CA 13 CA 29 HARMONIC 11.56 3.0 OUTER
AtomPair CA 13 CA 30 HARMONIC 12.43 3.0 OUTER
AtomPair CA 13 CA 31 HARMONIC 13.87 3.0 OUTER
AtomPair CA 13 CA 32 HARMONIC 10.92 3.0 OUTER
AtomPair CA 13 CA 33 HARMONIC 8.85 3.0 OUTER
AtomPair CA 13 CA 34 HARMONIC 12.15 3.0 OUTER
AtomPair CA 13 CA 35 HARMONIC 12.53 3.0 OUTER
AtomPair CA 13 CA 36 HARMONIC 9.36 3.0 OUTER
AtomPair CA 13 CA 37 HARMONIC 10.77 3.0 OUTER
AtomPair CA 13 CA 38 HARMONIC 14.14 3.0 OUTER
AtomPair CA 13 CA 39 HARMONIC 13.31 3.0 OUTER
AtomPair CA 13 CA 40 HARMONIC 12.11 3.0 OUTER
AtomPair CA 13 CA 41 HARMONIC 15.36 3.0 OUTER
AtomPair CA 13 CA 42 HARMONIC 17.38 3.0 OUTER
AtomPair CA 13 CA 43 HARMONIC 16.34 3.0 OUTER
AtomPair CA 13 CA 44 HARMONIC 17.34 3.0 OUTER
AtomPair CA 13 CA 45 HARMONIC 20.55 3.0 OUTER
AtomPair CA 14 CA 26 HARMONIC 14.77 3.0 OUTER
AtomPair CA 14 CA 27 HARMONIC 16.34 3.0 OUTER
AtomPair CA 14 CA 28 HARMONIC 15.69 3.0 OUTER
AtomPair CA 14 CA 29 HARMONIC 11.91 3.0 OUTER
AtomPair CA 14 CA 30 HARMONIC 12.12 3.0 OUTER
AtomPair CA 14 CA 31 HARMONIC 14.42 3.0 OUTER
AtomPair CA 14 CA 32 HARMONIC 12.28 3.0 OUTER
AtomPair CA 14 CA 33 HARMONIC 9.44 3.0 OUTER
AtomPair CA 14 CA 34 HARMONIC 12.56 3.0 OUTER
AtomPair CA 14 CA 35 HARMONIC 14.01 3.0 OUTER
AtomPair CA 14 CA 36 HARMONIC 11.21 3.0 OUTER
AtomPair CA 14 CA 37 HARMONIC 11.56 3.0 OUTER
AtomPair CA 14 CA 38 HARMONIC 15.30 3.0 OUTER
AtomPair CA 14 CA 39 HARMONIC 15.30 3.0 OUTER
AtomPair CA 14 CA 40 HARMONIC 13.69 3.0 OUTER
AtomPair CA 14 CA 41 HARMONIC 16.36 3.0 OUTER
AtomPair CA 14 CA 42 HARMONIC 19.01 3.0 OUTER
AtomPair CA 14 CA 43 HARMONIC 18.27 3.0 OUTER
AtomPair CA 14 CA 44 HARMONIC 18.58 3.0 OUTER
AtomPair CA 14 CA 45 HARMONIC 21.80 3.0 OUTER
AtomPair CA 15 CA 26 HARMONIC 15.28 3.0 OUTER
AtomPair CA 15 CA 27 HARMONIC 17.59 3.0 OUTER
AtomPair CA 15 CA 28 HARMONIC 16.89 3.0 OUTER
AtomPair CA 15 CA 29 HARMONIC 13.09 3.0 OUTER
AtomPair CA 15 CA 30 HARMONIC 14.12 3.0 OUTER
AtomPair CA 15 CA 31 HARMONIC 16.68 3.0 OUTER
AtomPair CA 15 CA 32 HARMONIC 14.43 3.0 OUTER
AtomPair CA 15 CA 33 HARMONIC 12.23 3.0 OUTER
AtomPair CA 15 CA 34 HARMONIC 15.70 3.0 OUTER
AtomPair CA 15 CA 35 HARMONIC 16.98 3.0 OUTER
AtomPair CA 15 CA 36 HARMONIC 14.30 3.0 OUTER
AtomPair CA 15 CA 37 HARMONIC 15.16 3.0 OUTER
AtomPair CA 15 CA 38 HARMONIC 18.81 3.0 OUTER
AtomPair CA 15 CA 39 HARMONIC 18.56 3.0 OUTER
AtomPair CA 15 CA 40 HARMONIC 17.14 3.0 OUTER
AtomPair CA 15 CA 41 HARMONIC 20.02 3.0 OUTER
AtomPair CA 15 CA 42 HARMONIC 22.49 3.0 OUTER
AtomPair CA 15 CA 43 HARMONIC 21.53 3.0 OUTER
AtomPair CA 15 CA 44 HARMONIC 22.04 3.0 OUTER
AtomPair CA 15 CA 45 HARMONIC 25.35 3.0 OUTER
AtomPair CA 16 CA 26 HARMONIC 12.64 3.0 OUTER
AtomPair CA 16 CA 27 HARMONIC 15.00 3.0 OUTER
AtomPair CA 16 CA 28 HARMONIC 13.80 3.0 OUTER
AtomPair CA 16 CA 29 HARMONIC 10.14 3.0 OUTER
AtomPair CA 16 CA 30 HARMONIC 11.99 3.0 OUTER
AtomPair CA 16 CA 31 HARMONIC 14.28 3.0 OUTER
AtomPair CA 16 CA 32 HARMONIC 11.80 3.0 OUTER
AtomPair CA 16 CA 33 HARMONIC 10.46 3.0 OUTER
AtomPair CA 16 CA 34 HARMONIC 14.23 3.0 OUTER
AtomPair CA 16 CA 35 HARMONIC 15.13 3.0 OUTER
AtomPair CA 16 CA 36 HARMONIC 12.89 3.0 OUTER
AtomPair CA 16 CA 37 HARMONIC 14.54 3.0 OUTER
AtomPair CA 16 CA 38 HARMONIC 17.87 3.0 OUTER
AtomPair CA 16 CA 39 HARMONIC 17.54 3.0 OUTER
AtomPair CA 16 CA 40 HARMONIC 16.90 3.0 OUTER
AtomPair CA 16 CA 41 HARMONIC 19.93 3.0 OUTER
AtomPair CA 16 CA 42 HARMONIC 21.98 3.0 OUTER
AtomPair CA 16 CA 43 HARMONIC 21.33 3.0 OUTER
AtomPair CA 16 CA 44 HARMONIC 22.42 3.0 OUTER
AtomPair CA 16 CA 45 HARMONIC 25.47 3.0 OUTER
AtomPair CA 17 CA 26 HARMONIC 9.96 3.0 OUTER
AtomPair CA 17 CA 27 HARMONIC 12.02 3.0 OUTER
AtomPair CA 17 CA 28 HARMONIC 11.46 3.0 OUTER
AtomPair CA 17 CA 29 HARMONIC 7.64 3.0 OUTER
AtomPair CA 17 CA 30 HARMONIC 8.67 3.0 OUTER
AtomPair CA 17 CA 31 HARMONIC 11.45 3.0 OUTER
AtomPair CA 17 CA 32 HARMONIC 9.71 3.0 OUTER
AtomPair CA 17 CA 33 HARMONIC 7.81 3.0 OUTER
AtomPair CA 17 CA 34 HARMONIC 11.40 3.0 OUTER
AtomPair CA 17 CA 35 HARMONIC 13.05 3.0 OUTER
AtomPair CA 17 CA 36 HARMONIC 11.36 3.0 OUTER
AtomPair CA 17 CA 37 HARMONIC 12.46 3.0 OUTER
AtomPair CA 17 CA 38 HARMONIC 15.81 3.0 OUTER
AtomPair CA 17 CA 39 HARMONIC 16.25 3.0 OUTER
AtomPair CA 17 CA 40 HARMONIC 15.76 3.0 OUTER
AtomPair CA 17 CA 41 HARMONIC 18.28 3.0 OUTER
AtomPair CA 17 CA 42 HARMONIC 20.62 3.0 OUTER
AtomPair CA 17 CA 43 HARMONIC 20.57 3.0 OUTER
AtomPair CA 17 CA 44 HARMONIC 21.42 3.0 OUTER
AtomPair CA 17 CA 45 HARMONIC 24.19 3.0 OUTER
AtomPair CA 18 CA 26 HARMONIC 10.87 3.0 OUTER
AtomPair CA 18 CA 27 HARMONIC 13.46 3.0 OUTER
AtomPair CA 18 CA 28 HARMONIC 13.82 3.0 OUTER
AtomPair CA 18 CA 29 HARMONIC 10.20 3.0 OUTER
AtomPair CA 18 CA 30 HARMONIC 10.72 3.0 OUTER
AtomPair CA 18 CA 31 HARMONIC 14.10 3.0 OUTER
AtomPair CA 18 CA 32 HARMONIC 13.05 3.0 OUTER
AtomPair CA 18 CA 33 HARMONIC 10.87 3.0 OUTER
AtomPair CA 18 CA 34 HARMONIC 14.05 3.0 OUTER
AtomPair CA 18 CA 35 HARMONIC 16.28 3.0 OUTER
AtomPair CA 18 CA 36 HARMONIC 14.70 3.0 OUTER
AtomPair CA 18 CA 37 HARMONIC 15.15 3.0 OUTER
AtomPair CA 18 CA 38 HARMONIC 18.67 3.0 OUTER
AtomPair CA 18 CA 39 HARMONIC 19.47 3.0 OUTER
AtomPair CA 18 CA 40 HARMONIC 18.58 3.0 OUTER
AtomPair CA 18 CA 41 HARMONIC 20.81 3.0 OUTER
AtomPair CA 18 CA 42 HARMONIC 23.53 3.0 OUTER
AtomPair CA 18 CA 43 HARMONIC 23.48 3.0 OUTER
AtomPair CA 18 CA 44 HARMONIC 23.88 3.0 OUTER
AtomPair CA 18 CA 45 HARMONIC 26.73 3.0 OUTER
AtomPair CA 19 CA 26 HARMONIC 11.40 3.0 OUTER
AtomPair CA 19 CA 27 HARMONIC 14.61 3.0 OUTER
AtomPair CA 19 CA 28 HARMONIC 14.53 3.0 OUTER
AtomPair CA 19 CA 29 HARMONIC 11.13 3.0 OUTER
AtomPair CA 19 CA 30 HARMONIC 12.76 3.0 OUTER
AtomPair CA 19 CA 31 HARMONIC 15.91 3.0 OUTER
AtomPair CA 19 CA 32 HARMONIC 14.50 3.0 OUTER
AtomPair CA 19 CA 33 HARMONIC 13.14 3.0 OUTER
AtomPair CA 19 CA 34 HARMONIC 16.64 3.0 OUTER
AtomPair CA 19 CA 35 HARMONIC 18.37 3.0 OUTER
AtomPair CA 19 CA 36 HARMONIC 16.78 3.0 OUTER
AtomPair CA 19 CA 37 HARMONIC 17.91 3.0 OUTER
AtomPair CA 19 CA 38 HARMONIC 21.30 3.0 OUTER
AtomPair CA 19 CA 39 HARMONIC 21.67 3.0 OUTER
AtomPair CA 19 CA 40 HARMONIC 21.04 3.0 OUTER
AtomPair CA 19 CA 41 HARMONIC 23.63 3.0 OUTER
AtomPair CA 19 CA 42 HARMONIC 26.04 3.0 OUTER
AtomPair CA 19 CA 43 HARMONIC 25.77 3.0 OUTER
AtomPair CA 19 CA 44 HARMONIC 26.53 3.0 OUTER
AtomPair CA 19 CA 45 HARMONIC 29.47 3.0 OUTER
AtomPair CA 20 CA 26 HARMONIC 8.58 3.0 OUTER
AtomPair CA 20 CA 27 HARMONIC 12.20 3.0 OUTER
AtomPair CA 20 CA 28 HARMONIC 12.39 3.0 OUTER
AtomPair CA 20 CA 29 HARMONIC 9.62 3.0 OUTER
AtomPair CA 20 CA 30 HARMONIC 11.64 3.0 OUTER
AtomPair CA 20 CA 31 HARMONIC 14.78 3.0 OUTER
AtomPair CA 20 CA 32 HARMONIC 13.94 3.0 OUTER
AtomPair CA 20 CA 33 HARMONIC 13.33 3.0 OUTER
AtomPair CA 20 CA 34 HARMONIC 16.62 3.0 OUTER
AtomPair CA 20 CA 35 HARMONIC 18.38 3.0 OUTER
AtomPair CA 20 CA 36 HARMONIC 17.54 3.0 OUTER
AtomPair CA 20 CA 37 HARMONIC 18.89 3.0 OUTER
AtomPair CA 20 CA 38 HARMONIC 21.93 3.0 OUTER
AtomPair CA 20 CA 39 HARMONIC 22.58 3.0 OUTER
AtomPair CA 20 CA 40 HARMONIC 22.54 3.0 OUTER
AtomPair CA 20 CA 41 HARMONIC 24.94 3.0 OUTER
AtomPair CA 20 CA 42 HARMONIC 27.16 3.0 OUTER
AtomPair CA 20 CA 43 HARMONIC 27.33 3.0 OUTER
AtomPair CA 20 CA 44 HARMONIC 28.33 3.0 OUTER
AtomPair CA 20 CA 45 HARMONIC 30.96 3.0 OUTER
AtomPair CA 21 CA 26 HARMONIC 7.72 3.0 OUTER
AtomPair CA 21 CA 27 HARMONIC 11.11 3.0 OUTER
AtomPair CA 21 CA 28 HARMONIC 12.41 3.0 OUTER
AtomPair CA 21 CA 29 HARMONIC 9.82 3.0 OUTER
AtomPair CA 21 CA 30 HARMONIC 10.63 3.0 OUTER
AtomPair CA 21 CA 31 HARMONIC 14.24 3.0 OUTER
AtomPair CA 21 CA 32 HARMONIC 14.26 3.0 OUTER
AtomPair CA 21 CA 33 HARMONIC 13.13 3.0 OUTER
AtomPair CA 21 CA 34 HARMONIC 15.88 3.0 OUTER
AtomPair CA 21 CA 35 HARMONIC 18.32 3.0 OUTER
AtomPair CA 21 CA 36 HARMONIC 17.82 3.0 OUTER
AtomPair CA 21 CA 37 HARMONIC 18.49 3.0 OUTER
AtomPair CA 21 CA 38 HARMONIC 21.52 3.0 OUTER
AtomPair CA 21 CA 39 HARMONIC 22.79 3.0 OUTER
AtomPair CA 21 CA 40 HARMONIC 22.61 3.0 OUTER
AtomPair CA 21 CA 41 HARMONIC 24.52 3.0 OUTER
AtomPair CA 21 CA 42 HARMONIC 27.06 3.0 OUTER
AtomPair CA 21 CA 43 HARMONIC 27.59 3.0 OUTER
AtomPair CA 21 CA 44 HARMONIC 28.21 3.0 OUTER
AtomPair CA 21 CA 45 HARMONIC 30.67 3.0 OUTER
AtomPair CA 22 CA 26 HARMONIC 6.26 3.0 OUTER
AtomPair CA 22 CA 27 HARMONIC 8.88 3.0 OUTER
AtomPair CA 22 CA 28 HARMONIC 9.95 3.0 OUTER
AtomPair CA 22 CA 29 HARMONIC 6.91 3.0 OUTER
AtomPair CA 22 CA 30 HARMONIC 7.17 3.0 OUTER
AtomPair CA 22 CA 31 HARMONIC 10.86 3.0 OUTER
AtomPair CA 22 CA 32 HARMONIC 10.88 3.0 OUTER
AtomPair CA 22 CA 33 HARMONIC 9.46 3.0 OUTER
AtomPair CA 22 CA 34 HARMONIC 12.13 3.0 OUTER
AtomPair CA 22 CA 35 HARMONIC 14.66 3.0 OUTER
AtomPair CA 22 CA 36 HARMONIC 14.25 3.0 OUTER
AtomPair CA 22 CA 37 HARMONIC 14.81 3.0 OUTER
AtomPair CA 22 CA 38 HARMONIC 17.78 3.0 OUTER
AtomPair CA 22 CA 39 HARMONIC 19.16 3.0 OUTER
AtomPair CA 22 CA 40 HARMONIC 19.09 3.0 OUTER
AtomPair CA 22 CA 41 HARMONIC 20.89 3.0 OUTER
AtomPair CA 22 CA 42 HARMONIC 23.39 3.0 OUTER
AtomPair CA 22 CA 43 HARMONIC 24.08 3.0 OUTER
AtomPair CA 22 CA 44 HARMONIC 24.73 3.0 OUTER
AtomPair CA 22 CA 45 HARMONIC 27.06 3.0 OUTER
AtomPair CA 2 CA 50 HARMONIC 8.86 3.0 OUTER
AtomPair CA 2 CA 51 HARMONIC 5.97 3.0 OUTER
AtomPair CA 2 CA 52 HARMONIC 9.14 3.0 OUTER
AtomPair CA 2 CA 53 HARMONIC 11.16 3.0 OUTER
AtomPair CA 2 CA 54 HARMONIC 9.18 3.0 OUTER
AtomPair CA 2 CA 55 HARMONIC 8.99 3.0 OUTER
AtomPair CA 2 CA 56 HARMONIC 12.50 3.0 OUTER
AtomPair CA 2 CA 57 HARMONIC 13.85 3.0 OUTER
AtomPair CA 2 CA 58 HARMONIC 12.83 3.0 OUTER
AtomPair CA 2 CA 59 HARMONIC 15.35 3.0 OUTER
AtomPair CA 2 CA 60 HARMONIC 18.84 3.0 OUTER
AtomPair CA 2 CA 61 HARMONIC 20.86 3.0 OUTER
AtomPair CA 2 CA 62 HARMONIC 21.80 3.0 OUTER
AtomPair CA 2 CA 63 HARMONIC 25.49 3.0 OUTER
AtomPair CA 2 CA 64 HARMONIC 26.51 3.0 OUTER
AtomPair CA 3 CA 50 HARMONIC 11.56 3.0 OUTER
AtomPair CA 3 CA 51 HARMONIC 8.81 3.0 OUTER
AtomPair CA 3 CA 52 HARMONIC 11.83 3.0 OUTER
AtomPair CA 3 CA 53 HARMONIC 13.19 3.0 OUTER
AtomPair CA 3 CA 54 HARMONIC 10.33 3.0 OUTER
AtomPair CA 3 CA 55 HARMONIC 9.84 3.0 OUTER
AtomPair CA 3 CA 56 HARMONIC 13.64 3.0 OUTER
AtomPair CA 3 CA 57 HARMONIC 14.40 3.0 OUTER
AtomPair CA 3 CA 58 HARMONIC 12.46 3.0 OUTER
AtomPair CA 3 CA 59 HARMONIC 15.11 3.0 OUTER
AtomPair CA 3 CA 60 HARMONIC 18.29 3.0 OUTER
AtomPair CA 3 CA 61 HARMONIC 20.38 3.0 OUTER
AtomPair CA 3 CA 62 HARMONIC 21.49 3.0 OUTER
AtomPair CA 3 CA 63 HARMONIC 24.98 3.0 OUTER
AtomPair CA 3 CA 64 HARMONIC 26.04 3.0 OUTER
AtomPair CA 4 CA 50 HARMONIC 14.12 3.0 OUTER
AtomPair CA 4 CA 51 HARMONIC 10.85 3.0 OUTER
AtomPair CA 4 CA 52 HARMONIC 13.26 3.0 OUTER
AtomPair CA 4 CA 53 HARMONIC 15.34 3.0 OUTER
AtomPair CA 4 CA 54 HARMONIC 12.91 3.0 OUTER
AtomPair CA 4 CA 55 HARMONIC 11.46 3.0 OUTER
AtomPair CA 4 CA 56 HARMONIC 15.13 3.0 OUTER
AtomPair CA 4 CA 57 HARMONIC 16.58 3.0 OUTER
AtomPair CA 4 CA 58 HARMONIC 14.44 3.0 OUTER
AtomPair CA 4 CA 59 HARMONIC 16.38 3.0 OUTER
AtomPair CA 4 CA 60 HARMONIC 19.72 3.0 OUTER
AtomPair CA 4 CA 61 HARMONIC 21.44 3.0 OUTER
AtomPair CA 4 CA 62 HARMONIC 21.92 3.0 OUTER
AtomPair CA 4 CA 63 HARMONIC 25.37 3.0 OUTER
AtomPair CA 4 CA 64 HARMONIC 25.89 3.0 OUTER
AtomPair CA 5 CA 50 HARMONIC 12.59 3.0 OUTER
AtomPair CA 5 CA 51 HARMONIC 8.89 3.0 OUTER
AtomPair CA 5 CA 52 HARMONIC 10.43 3.0 OUTER
AtomPair CA 5 CA 53 HARMONIC 12.78 3.0 OUTER
AtomPair CA 5 CA 54 HARMONIC 10.86 3.0 OUTER
AtomPair CA 5 CA 55 HARMONIC 8.66 3.0 OUTER
AtomPair CA 5 CA 56 HARMONIC 12.05 3.0 OUTER
AtomPair CA 5 CA 57 HARMONIC 14.08 3.0 OUTER
AtomPair CA 5 CA 58 HARMONIC 12.24 3.0 OUTER
AtomPair CA 5 CA 59 HARMONIC 13.67 3.0 OUTER
AtomPair CA 5 CA 60 HARMONIC 17.24 3.0 OUTER
AtomPair CA 5 CA 61 HARMONIC 18.74 3.0 OUTER
AtomPair CA 5 CA 62 HARMONIC 18.93 3.0 OUTER
AtomPair CA 5 CA 63 HARMONIC 22.51 3.0 OUTER
AtomPair CA 5 CA 64 HARMONIC 22.92 3.0 OUTER
AtomPair CA 6 CA 50 HARMONIC 11.99 3.0 OUTER
AtomPair CA 6 CA 51 HARMONIC 8.65 3.0 OUTER
AtomPair CA 6 CA 52 HARMONIC 10.28 3.0 OUTER
AtomPair CA 6 CA 53 HARMONIC 11.52 3.0 OUTER
AtomPair CA 6 CA 54 HARMONIC 8.79 3.0 OUTER
AtomPair CA 6 CA 55 HARMONIC 6.70 3.0 OUTER
AtomPair CA 6 CA 56 HARMONIC 10.32 3.0 OUTER
AtomPair CA 6 CA 57 HARMONIC 11.53 3.0 OUTER
AtomPair CA 6 CA 58 HARMONIC 9.10 3.0 OUTER
AtomPair CA 6 CA 59 HARMONIC 10.98 3.0 OUTER
AtomPair CA 6 CA 60 HARMONIC 14.30 3.0 OUTER
AtomPair CA 6 CA 61 HARMONIC 16.09 3.0 OUTER
AtomPair CA 6 CA 62 HARMONIC 16.85 3.0 OUTER
AtomPair CA 6 CA 63 HARMONIC 20.34 3.0 OUTER
AtomPair CA 6 CA 64 HARMONIC 21.25 3.0 OUTER
AtomPair CA 7 CA 50 HARMONIC 15.66 3.0 OUTER
AtomPair CA 7 CA 51 HARMONIC 12.35 3.0 OUTER
AtomPair CA 7 CA 52 HARMONIC 14.02 3.0 OUTER
AtomPair CA 7 CA 53 HARMONIC 15.27 3.0 OUTER
AtomPair CA 7 CA 54 HARMONIC 12.38 3.0 OUTER
AtomPair CA 7 CA 55 HARMONIC 10.21 3.0 OUTER
AtomPair CA 7 CA 56 HARMONIC 13.60 3.0 OUTER
AtomPair CA 7 CA 57 HARMONIC 14.59 3.0 OUTER
AtomPair CA 7 CA 58 HARMONIC 11.58 3.0 OUTER
AtomPair CA 7 CA 59 HARMONIC 13.05 3.0 OUTER
AtomPair CA 7 CA 60 HARMONIC 15.95 3.0 OUTER
AtomPair CA 7 CA 61 HARMONIC 17.51 3.0 OUTER
AtomPair CA 7 CA 62 HARMONIC 18.02 3.0 OUTER
AtomPair CA 7 CA 63 HARMONIC 21.20 3.0 OUTER
AtomPair CA 7 CA 64 HARMONIC 21.78 3.0 OUTER
AtomPair CA 8 CA 50 HARMONIC 16.99 3.0 OUTER
AtomPair CA 8 CA 51 HARMONIC 13.34 3.0 OUTER
AtomPair CA 8 CA 52 HARMONIC 14.22 3.0 OUTER
AtomPair CA 8 CA 53 HARMONIC 16.05 3.0 OUTER
AtomPair CA 8 CA 54 HARMONIC 13.86 3.0 OUTER
AtomPair CA 8 CA 55 HARMONIC 10.90 3.0 OUTER
AtomPair CA 8 CA 56 HARMONIC 13.82 3.0 OUTER
AtomPair CA 8 CA 57 HARMONIC 15.63 3.0 OUTER
AtomPair CA 8 CA 58 HARMONIC 12.88 3.0 OUTER
AtomPair CA 8 CA 59 HARMONIC 13.40 3.0 OUTER
AtomPair CA 8 CA 60 HARMONIC 16.48 3.0 OUTER
AtomPair CA 8 CA 61 HARMONIC 17.52 3.0 OUTER
AtomPair CA 8 CA 62 HARMONIC 17.22 3.0 OUTER
AtomPair CA 8 CA 63 HARMONIC 20.39 3.0 OUTER
AtomPair CA 8 CA 64 HARMONIC 20.35 3.0 OUTER
AtomPair CA 9 CA 50 HARMONIC 15.88 3.0 OUTER
AtomPair CA 9 CA 51 HARMONIC 12.37 3.0 OUTER
AtomPair CA 9 CA 52 HARMONIC 12.47 3.0 OUTER
AtomPair CA 9 CA 53 HARMONIC 13.81 3.0 OUTER
AtomPair CA 9 CA 54 HARMONIC 11.86 3.0 OUTER
AtomPair CA 9 CA 55 HARMONIC 8.45 3.0 OUTER
AtomPair CA 9 CA 56 HARMONIC 10.76 3.0 OUTER
AtomPair CA 9 CA 57 HARMONIC 12.62 3.0 OUTER
AtomPair CA 9 CA 58 HARMONIC 9.92 3.0 OUTER
AtomPair CA 9 CA 59 HARMONIC 9.83 3.0 OUTER
AtomPair CA 9 CA 60 HARMONIC 12.93 3.0 OUTER
AtomPair CA 9 CA 61 HARMONIC 13.84 3.0 OUTER
AtomPair CA 9 CA 62 HARMONIC 13.51 3.0 OUTER
AtomPair CA 9 CA 63 HARMONIC 16.80 3.0 OUTER
AtomPair CA 9 CA 64 HARMONIC 16.97 3.0 OUTER
AtomPair CA 10 CA 50 HARMONIC 16.58 3.0 OUTER
AtomPair CA 10 CA 51 HARMONIC 13.47 3.0 OUTER
AtomPair CA 10 CA 52 HARMONIC 14.10 3.0 OUTER
AtomPair CA 10 CA 53 HARMONIC 14.59 3.0 OUTER
AtomPair CA 10 CA 54 HARMONIC 11.89 3.0 OUTER
AtomPair CA 10 CA 55 HARMONIC 9.11 3.0 OUTER
AtomPair CA 10 CA 56 HARMONIC 11.56 3.0 OUTER
AtomPair CA 10 CA 57 HARMONIC 12.27 3.0 OUTER
AtomPair CA 10 CA 58 HARMONIC 8.82 3.0 OUTER
AtomPair CA 10 CA 59 HARMONIC 9.29 3.0 OUTER
AtomPair CA 10 CA 60 HARMONIC 11.75 3.0 OUTER
AtomPair CA 10 CA 61 HARMONIC 13.03 3.0 OUTER
AtomPair CA 10 CA 62 HARMONIC 13.49 3.0 OUTER
AtomPair CA 10 CA 63 HARMONIC 16.48 3.0 OUTER
AtomPair CA 10 CA 64 HARMONIC 17.19 3.0 OUTER
AtomPair CA 11 CA 50 HARMONIC 19.83 3.0 OUTER
AtomPair CA 11 CA 51 HARMONIC 16.60 3.0 OUTER
AtomPair CA 11 CA 52 HARMONIC 17.50 3.0 OUTER
AtomPair CA 11 CA 53 HARMONIC 18.27 3.0 OUTER
AtomPair CA 11 CA 54 HARMONIC 15.47 3.0 OUTER
AtomPair CA 11 CA 55 HARMONIC 12.79 3.0 OUTER
AtomPair CA 11 CA 56 HARMONIC 15.33 3.0 OUTER
AtomPair CA 11 CA 57 HARMONIC 16.04 3.0 OUTER
AtomPair CA 11 CA 58 HARMONIC 12.49 3.0 OUTER
AtomPair CA 11 CA 59 HARMONIC 12.80 3.0 OUTER
AtomPair CA 11 CA 60 HARMONIC 14.84 3.0 OUTER
AtomPair CA 11 CA 61 HARMONIC 15.82 3.0 OUTER
AtomPair CA 11 CA 62 HARMONIC 15.93 3.0 OUTER
AtomPair CA 11 CA 63 HARMONIC 18.47 3.0 OUTER
AtomPair CA 11 CA 64 HARMONIC 18.73 3.0 OUTER
AtomPair CA 12 CA 50 HARMONIC 21.23 3.0 OUTER
AtomPair CA 12 CA 51 HARMONIC 17.69 3.0 OUTER
AtomPair CA 12 CA 52 HARMONIC 18.14 3.0 OUTER
AtomPair CA 12 CA 53 HARMONIC 19.49 3.0 OUTER
AtomPair CA 12 CA 54 HARMONIC 17.23 3.0 OUTER
AtomPair CA 12 CA 55 HARMONIC 14.04 3.0 OUTER
AtomPair CA 12 CA 56 HARMONIC 16.31 3.0 OUTER
AtomPair CA 12 CA 57 HARMONIC 17.77 3.0 OUTER
AtomPair CA 12 CA 58 HARMONIC 14.57 3.0 OUTER
AtomPair CA 12 CA 59 HARMONIC 14.20 3.0 OUTER
AtomPair CA 12 CA 60 HARMONIC 16.46 3.0 OUTER
AtomPair CA 12 CA 61 HARMONIC 16.95 3.0 OUTER
AtomPair CA 12 CA 62 HARMONIC 16.20 3.0 OUTER
AtomPair CA 12 CA 63 HARMONIC 18.70 3.0 OUTER
AtomPair CA 12 CA 64 HARMONIC 18.21 3.0 OUTER
AtomPair CA 13 CA 50 HARMONIC 20.42 3.0 OUTER
AtomPair CA 13 CA 51 HARMONIC 16.90 3.0 OUTER
AtomPair CA 13 CA 52 HARMONIC 16.56 3.0 OUTER
AtomPair CA 13 CA 53 HARMONIC 17.92 3.0 OUTER
AtomPair CA 13 CA 54 HARMONIC 16.26 3.0 OUTER
AtomPair CA 13 CA 55 HARMONIC 12.67 3.0 OUTER
AtomPair CA 13 CA 56 HARMONIC 14.23 3.0 OUTER
AtomPair CA 13 CA 57 HARMONIC 16.13 3.0 OUTER
AtomPair CA 13 CA 58 HARMONIC 13.35 3.0 OUTER
AtomPair CA 13 CA 59 HARMONIC 12.18 3.0 OUTER
AtomPair CA 13 CA 60 HARMONIC 14.53 3.0 OUTER
AtomPair CA 13 CA 61 HARMONIC 14.61 3.0 OUTER
AtomPair CA 13 CA 62 HARMONIC 13.30 3.0 OUTER
AtomPair CA 13 CA 63 HARMONIC 15.93 3.0 OUTER
AtomPair CA 13 CA 64 HARMONIC 15.17 3.0 OUTER
AtomPair CA 14 CA 50 HARMONIC 20.45 3.0 OUTER
AtomPair CA 14 CA 51 HARMONIC 17.30 3.0 OUTER
AtomPair CA 14 CA 52 HARMONIC 16.75 3.0 OUTER
AtomPair CA 14 CA 53 HARMONIC 17.31 3.0 OUTER
AtomPair CA 14 CA 54 HARMONIC 15.51 3.0 OUTER
AtomPair CA 14 CA 55 HARMONIC 12.10 3.0 OUTER
AtomPair CA 14 CA 56 HARMONIC 13.11 3.0 OUTER
AtomPair CA 14 CA 57 HARMONIC 14.34 3.0 OUTER
AtomPair CA 14 CA 58 HARMONIC 11.36 3.0 OUTER
AtomPair CA 14 CA 59 HARMONIC 9.70 3.0 OUTER
AtomPair CA 14 CA 60 HARMONIC 11.37 3.0 OUTER
AtomPair CA 14 CA 61 HARMONIC 11.31 3.0 OUTER
AtomPair CA 14 CA 62 HARMONIC 10.27 3.0 OUTER
AtomPair CA 14 CA 63 HARMONIC 12.71 3.0 OUTER
AtomPair CA 14 CA 64 HARMONIC 12.45 3.0 OUTER
AtomPair CA 15 CA 50 HARMONIC 23.66 3.0 OUTER
AtomPair CA 15 CA 51 HARMONIC 20.49 3.0 OUTER
AtomPair CA 15 CA 52 HARMONIC 20.30 3.0 OUTER
AtomPair CA 15 CA 53 HARMONIC 20.80 3.0 OUTER
AtomPair CA 15 CA 54 HARMONIC 18.66 3.0 OUTER
AtomPair CA 15 CA 55 HARMONIC 15.47 3.0 OUTER
AtomPair CA 15 CA 56 HARMONIC 16.71 3.0 OUTER
AtomPair CA 15 CA 57 HARMONIC 17.55 3.0 OUTER
AtomPair CA 15 CA 58 HARMONIC 14.26 3.0 OUTER
AtomPair CA 15 CA 59 HARMONIC 12.84 3.0 OUTER
AtomPair CA 15 CA 60 HARMONIC 13.85 3.0 OUTER
AtomPair CA 15 CA 61 HARMONIC 13.67 3.0 OUTER
AtomPair CA 15 CA 62 HARMONIC 12.69 3.0 OUTER
AtomPair CA 15 CA 63 HARMONIC 14.32 3.0 OUTER
AtomPair CA 15 CA 64 HARMONIC 13.79 3.0 OUTER
AtomPair CA 16 CA 50 HARMONIC 25.34 3.0 OUTER
AtomPair CA 16 CA 51 HARMONIC 21.96 3.0 OUTER
AtomPair CA 16 CA 52 HARMONIC 21.42 3.0 OUTER
AtomPair CA 16 CA 53 HARMONIC 22.39 3.0 OUTER
AtomPair CA 16 CA 54 HARMONIC 20.71 3.0 OUTER
AtomPair CA 16 CA 55 HARMONIC 17.20 3.0 OUTER
AtomPair CA 16 CA 56 HARMONIC 18.21 3.0 OUTER
AtomPair CA 16 CA 57 HARMONIC 19.68 3.0 OUTER
AtomPair CA 16 CA 58 HARMONIC 16.76 3.0 OUTER
AtomPair CA 16 CA 59 HARMONIC 14.92 3.0 OUTER
AtomPair CA 16 CA 60 HARMONIC 16.17 3.0 OUTER
AtomPair CA 16 CA 61 HARMONIC 15.54 3.0 OUTER
AtomPair CA 16 CA 62 HARMONIC 13.68 3.0 OUTER
AtomPair CA 16 CA 63 HARMONIC 15.14 3.0 OUTER
AtomPair CA 16 CA 64 HARMONIC 13.66 3.0 OUTER
AtomPair CA 17 CA 50 HARMONIC 24.46 3.0 OUTER
AtomPair CA 17 CA 51 HARMONIC 21.28 3.0 OUTER
AtomPair CA 17 CA 52 HARMONIC 20.13 3.0 OUTER
AtomPair CA 17 CA 53 HARMONIC 20.87 3.0 OUTER
AtomPair CA 17 CA 54 HARMONIC 19.68 3.0 OUTER
AtomPair CA 17 CA 55 HARMONIC 16.09 3.0 OUTER
AtomPair CA 17 CA 56 HARMONIC 16.34 3.0 OUTER
AtomPair CA 17 CA 57 HARMONIC 17.93 3.0 OUTER
AtomPair CA 17 CA 58 HARMONIC 15.48 3.0 OUTER
AtomPair CA 17 CA 59 HARMONIC 12.94 3.0 OUTER
AtomPair CA 17 CA 60 HARMONIC 13.96 3.0 OUTER
AtomPair CA 17 CA 61 HARMONIC 12.87 3.0 OUTER
AtomPair CA 17 CA 62 HARMONIC 10.43 3.0 OUTER
AtomPair CA 17 CA 63 HARMONIC 11.86 3.0 OUTER
AtomPair CA 17 CA 64 HARMONIC 10.13 3.0 OUTER
AtomPair CA 18 CA 50 HARMONIC 25.83 3.0 OUTER
AtomPair CA 18 CA 51 HARMONIC 22.94 3.0 OUTER
AtomPair CA 18 CA 52 HARMONIC 21.86 3.0 OUTER
AtomPair CA 18 CA 53 HARMONIC 21.98 3.0 OUTER
AtomPair CA 18 CA 54 HARMONIC 20.56 3.0 OUTER
AtomPair CA 18 CA 55 HARMONIC 17.29 3.0 OUTER
AtomPair CA 18 CA 56 HARMONIC 17.28 3.0 OUTER
AtomPair CA 18 CA 57 HARMONIC 18.13 3.0 OUTER
AtomPair CA 18 CA 58 HARMONIC 15.52 3.0 OUTER
AtomPair CA 18 CA 59 HARMONIC 12.84 3.0 OUTER
AtomPair CA 18 CA 60 HARMONIC 12.83 3.0 OUTER
AtomPair CA 18 CA 61 HARMONIC 11.50 3.0 OUTER
AtomPair CA 18 CA 62 HARMONIC 9.42 3.0 OUTER
AtomPair CA 18 CA 63 HARMONIC 9.93 3.0 OUTER
AtomPair CA 18 CA 64 HARMONIC 8.61 3.0 OUTER
AtomPair CA 19 CA 50 HARMONIC 28.77 3.0 OUTER
AtomPair CA 19 CA 51 HARMONIC 25.68 3.0 OUTER
AtomPair CA 19 CA 52 HARMONIC 24.89 3.0 OUTER
AtomPair CA 19 CA 53 HARMONIC 25.25 3.0 OUTER
AtomPair CA 19 CA 54 HARMONIC 23.61 3.0 OUTER
AtomPair CA 19 CA 55 HARMONIC 20.30 3.0 OUTER
AtomPair CA 19 CA 56 HARMONIC 20.69 3.0 OUTER
AtomPair CA 19 CA 57 HARMONIC 21.57 3.0 OUTER
AtomPair CA 19 CA 58 HARMONIC 18.71 3.0 OUTER
AtomPair CA 19 CA 59 HARMONIC 16.35 3.0 OUTER
AtomPair CA 19 CA 60 HARMONIC 16.40 3.0 OUTER
AtomPair CA 19 CA 61 HARMONIC 15.18 3.0 OUTER
AtomPair CA 19 CA 62 HARMONIC 13.18 3.0 OUTER
AtomPair CA 19 CA 63 HARMONIC 13.30 3.0 OUTER
AtomPair CA 19 CA 64 HARMONIC 11.57 3.0 OUTER
AtomPair CA 20 CA 50 HARMONIC 31.27 3.0 OUTER
AtomPair CA 20 CA 51 HARMONIC 28.17 3.0 OUTER
AtomPair CA 20 CA 52 HARMONIC 26.99 3.0 OUTER
AtomPair CA 20 CA 53 HARMONIC 27.47 3.0 OUTER
AtomPair CA 20 CA 54 HARMONIC 26.24 3.0 OUTER
AtomPair CA 20 CA 55 HARMONIC 22.79 3.0 OUTER
AtomPair CA 20 CA 56 HARMONIC 22.77 3.0 OUTER
AtomPair CA 20 CA 57 HARMONIC 23.93 3.0 OUTER
AtomPair CA 20 CA 58 HARMONIC 21.43 3.0 OUTER
AtomPair CA 20 CA 59 HARMONIC 18.67 3.0 OUTER
AtomPair CA 20 CA 60 HARMONIC 18.58 3.0 OUTER
AtomPair CA 20 CA 61 HARMONIC 16.90 3.0 OUTER
AtomPair CA 20 CA 62 HARMONIC 14.26 3.0 OUTER
AtomPair CA 20 CA 63 HARMONIC 13.77 3.0 OUTER
AtomPair CA 20 CA 64 HARMONIC 11.15 3.0 OUTER
AtomPair CA 21 CA 50 HARMONIC 30.73 3.0 OUTER
AtomPair CA 21 CA 51 HARMONIC 27.92 3.0 OUTER
AtomPair CA 21 CA 52 HARMONIC 26.40 3.0 OUTER
AtomPair CA 21 CA 53 HARMONIC 26.49 3.0 OUTER
AtomPair CA 21 CA 54 HARMONIC 25.52 3.0 OUTER
AtomPair CA 21 CA 55 HARMONIC 22.24 3.0 OUTER
AtomPair CA 21 CA 56 HARMONIC 21.63 3.0 OUTER
AtomPair CA 21 CA 57 HARMONIC 22.56 3.0 OUTER
AtomPair CA 21 CA 58 HARMONIC 20.43 3.0 OUTER
AtomPair CA 21 CA 59 HARMONIC 17.29 3.0 OUTER
AtomPair CA 21 CA 60 HARMONIC 16.65 3.0 OUTER
AtomPair CA 21 CA 61 HARMONIC 14.58 3.0 OUTER
AtomPair CA 21 CA 62 HARMONIC 11.77 3.0 OUTER
AtomPair CA 21 CA 63 HARMONIC 10.58 3.0 OUTER
AtomPair CA 21 CA 64 HARMONIC 7.82 3.0 OUTER
AtomPair CA 22 CA 50 HARMONIC 27.71 3.0 OUTER
AtomPair CA 22 CA 51 HARMONIC 24.87 3.0 OUTER
AtomPair CA 22 CA 52 HARMONIC 23.13 3.0 OUTER
AtomPair CA 22 CA 53 HARMONIC 23.43 3.0 OUTER
AtomPair CA 22 CA 54 HARMONIC 22.75 3.0 OUTER
AtomPair CA 22 CA 55 HARMONIC 19.34 3.0 OUTER
AtomPair CA 22 CA 56 HARMONIC 18.60 3.0 OUTER
AtomPair CA 22 CA 57 HARMONIC 19.95 3.0 OUTER
AtomPair CA 22 CA 58 HARMONIC 18.08 3.0 OUTER
AtomPair CA 22 CA 59 HARMONIC 14.81 3.0 OUTER
AtomPair CA 22 CA 60 HARMONIC 14.75 3.0 OUTER
AtomPair CA 22 CA 61 HARMONIC 12.73 3.0 OUTER
AtomPair CA 22 CA 62 HARMONIC 9.49 3.0 OUTER
AtomPair CA 22 CA 63 HARMONIC 9.28 3.0 OUTER
AtomPair CA 22 CA 64 HARMONIC 6.29 3.0 OUTER
AtomPair CA 26 CA 50 HARMONIC 31.40 3.0 OUTER
AtomPair CA 26 CA 51 HARMONIC 28.48 3.0 OUTER
AtomPair CA 26 CA 52 HARMONIC 26.31 3.0 OUTER
AtomPair CA 26 CA 53 HARMONIC 27.10 3.0 OUTER
AtomPair CA 26 CA 54 HARMONIC 27.05 3.0 OUTER
AtomPair CA 26 CA 55 HARMONIC 23.50 3.0 OUTER
AtomPair CA 26 CA 56 HARMONIC 22.48 3.0 OUTER
AtomPair CA 26 CA 57 HARMONIC 24.46 3.0 OUTER
AtomPair CA 26 CA 58 HARMONIC 23.11 3.0 OUTER
AtomPair CA 26 CA 59 HARMONIC 19.73 3.0 OUTER
AtomPair CA 26 CA 60 HARMONIC 19.98 3.0 OUTER
AtomPair CA 26 CA 61 HARMONIC 17.78 3.0 OUTER
AtomPair CA 26 CA 62 HARMONIC 14.09 3.0 OUTER
AtomPair CA 26 CA 63 HARMONIC 13.64 3.0 OUTER
AtomPair CA 26 CA 64 HARMONIC 9.92 3.0 OUTER
AtomPair CA 27 CA 50 HARMONIC 30.70 3.0 OUTER
AtomPair CA 27 CA 51 HARMONIC 27.93 3.0 OUTER
AtomPair CA 27 CA 52 HARMONIC 25.39 3.0 OUTER
AtomPair CA 27 CA 53 HARMONIC 26.34 3.0 OUTER
AtomPair CA 27 CA 54 HARMONIC 26.82 3.0 OUTER
AtomPair CA 27 CA 55 HARMONIC 23.33 3.0 OUTER
AtomPair CA 27 CA 56 HARMONIC 21.96 3.0 OUTER
AtomPair CA 27 CA 57 HARMONIC 24.28 3.0 OUTER
AtomPair CA 27 CA 58 HARMONIC 23.47 3.0 OUTER
AtomPair CA 27 CA 59 HARMONIC 20.05 3.0 OUTER
AtomPair CA 27 CA 60 HARMONIC 20.59 3.0 OUTER
AtomPair CA 27 CA 61 HARMONIC 18.39 3.0 OUTER
AtomPair CA 27 CA 62 HARMONIC 14.60 3.0 OUTER
AtomPair CA 27 CA 63 HARMONIC 14.52 3.0 OUTER
AtomPair CA 27 CA 64 HARMONIC 11.00 3.0 OUTER
AtomPair CA 28 CA 50 HARMONIC 30.07 3.0 OUTER
AtomPair CA 28 CA 51 HARMONIC 27.03 3.0 OUTER
AtomPair CA 28 CA 52 HARMONIC 24.72 3.0 OUTER
AtomPair CA 28 CA 53 HARMONIC 26.18 3.0 OUTER
AtomPair CA 28 CA 54 HARMONIC 26.53 3.0 OUTER
AtomPair CA 28 CA 55 HARMONIC 22.88 3.0 OUTER
AtomPair CA 28 CA 56 HARMONIC 22.02 3.0 OUTER
AtomPair CA 28 CA 57 HARMONIC 24.70 3.0 OUTER
AtomPair CA 28 CA 58 HARMONIC 23.66 3.0 OUTER
AtomPair CA 28 CA 59 HARMONIC 20.57 3.0 OUTER
AtomPair CA 28 CA 60 HARMONIC 21.72 3.0 OUTER
AtomPair CA 28 CA 61 HARMONIC 19.88 3.0 OUTER
AtomPair CA 28 CA 62 HARMONIC 16.22 3.0 OUTER
AtomPair CA 28 CA 63 HARMONIC 16.83 3.0 OUTER
AtomPair CA 28 CA 64 HARMONIC 13.48 3.0 OUTER
AtomPair CA 29 CA 50 HARMONIC 27.61 3.0 OUTER
AtomPair CA 29 CA 51 HARMONIC 24.48 3.0 OUTER
AtomPair CA 29 CA 52 HARMONIC 22.46 3.0 OUTER
AtomPair CA 29 CA 53 HARMONIC 23.75 3.0 OUTER
AtomPair CA 29 CA 54 HARMONIC 23.69 3.0 OUTER
AtomPair CA 29 CA 55 HARMONIC 19.98 3.0 OUTER
AtomPair CA 29 CA 56 HARMONIC 19.41 3.0 OUTER
AtomPair CA 29 CA 57 HARMONIC 21.87 3.0 OUTER
AtomPair CA 29 CA 58 HARMONIC 20.47 3.0 OUTER
AtomPair CA 29 CA 59 HARMONIC 17.46 3.0 OUTER
AtomPair CA 29 CA 60 HARMONIC 18.64 3.0 OUTER
AtomPair CA 29 CA 61 HARMONIC 16.96 3.0 OUTER
AtomPair CA 29 CA 62 HARMONIC 13.46 3.0 OUTER
AtomPair CA 29 CA 63 HARMONIC 14.38 3.0 OUTER
AtomPair CA 29 CA 64 HARMONIC 11.27 3.0 OUTER
AtomPair CA 30 CA 50 HARMONIC 25.74 3.0 OUTER
AtomPair CA 30 CA 51 HARMONIC 22.93 3.0 OUTER
AtomPair CA 30 CA 52 HARMONIC 20.49 3.0 OUTER
AtomPair CA 30 CA 53 HARMONIC 21.47 3.0 OUTER
AtomPair CA 30 CA 54 HARMONIC 21.82 3.0 OUTER
AtomPair CA 30 CA 55 HARMONIC 18.29 3.0 OUTER
AtomPair CA 30 CA 56 HARMONIC 17.08 3.0 OUTER
AtomPair CA 30 CA 57 HARMONIC 19.53 3.0 OUTER
AtomPair CA 30 CA 58 HARMONIC 18.67 3.0 OUTER
AtomPair CA 30 CA 59 HARMONIC 15.39 3.0 OUTER
AtomPair CA 30 CA 60 HARMONIC 16.43 3.0 OUTER
AtomPair CA 30 CA 61 HARMONIC 14.60 3.0 OUTER
AtomPair CA 30 CA 62 HARMONIC 10.97 3.0 OUTER
AtomPair CA 30 CA 63 HARMONIC 12.05 3.0 OUTER
AtomPair CA 30 CA 64 HARMONIC 9.21 3.0 OUTER
AtomPair CA 31 CA 50 HARMONIC 25.73 3.0 OUTER
AtomPair CA 31 CA 51 HARMONIC 22.89 3.0 OUTER
AtomPair CA 31 CA 52 HARMONIC 20.27 3.0 OUTER
AtomPair CA 31 CA 53 HARMONIC 21.78 3.0 OUTER
AtomPair CA 31 CA 54 HARMONIC 22.56 3.0 OUTER
AtomPair CA 31 CA 55 HARMONIC 19.06 3.0 OUTER
AtomPair CA 31 CA 56 HARMONIC 17.89 3.0 OUTER
AtomPair CA 31 CA 57 HARMONIC 20.85 3.0 OUTER
AtomPair CA 31 CA 58 HARMONIC 20.35 3.0 OUTER
AtomPair CA 31 CA 59 HARMONIC 17.37 3.0 OUTER
AtomPair CA 31 CA 60 HARMONIC 18.95 3.0 OUTER
AtomPair CA 31 CA 61 HARMONIC 17.38 3.0 OUTER
AtomPair CA 31 CA 62 HARMONIC 13.94 3.0 OUTER
AtomPair CA 31 CA 63 HARMONIC 15.42 3.0 OUTER
AtomPair CA 31 CA 64 HARMONIC 12.81 3.0 OUTER
AtomPair CA 32 CA 50 HARMONIC 24.40 3.0 OUTER
AtomPair CA 32 CA 51 HARMONIC 21.22 3.0 OUTER
AtomPair CA 32 CA 52 HARMONIC 19.09 3.0 OUTER
AtomPair CA 32 CA 53 HARMONIC 20.98 3.0 OUTER
AtomPair CA 32 CA 54 HARMONIC 21.30 3.0 OUTER
AtomPair CA 32 CA 55 HARMONIC 17.62 3.0 OUTER
AtomPair CA 32 CA 56 HARMONIC 17.22 3.0 OUTER
AtomPair CA 32 CA 57 HARMONIC 20.30 3.0 OUTER
AtomPair CA 32 CA 58 HARMONIC 19.30 3.0 OUTER
AtomPair CA 32 CA 59 HARMONIC 16.75 3.0 OUTER
AtomPair CA 32 CA 60 HARMONIC 18.82 3.0 OUTER
AtomPair CA 32 CA 61 HARMONIC 17.65 3.0 OUTER
AtomPair CA 32 CA 62 HARMONIC 14.53 3.0 OUTER
AtomPair CA 32 CA 63 HARMONIC 16.51 3.0 OUTER
AtomPair CA 32 CA 64 HARMONIC 14.13 3.0 OUTER
AtomPair CA 33 CA 50 HARMONIC 21.52 3.0 OUTER
AtomPair CA 33 CA 51 HARMONIC 18.45 3.0 OUTER
AtomPair CA 33 CA 52 HARMONIC 16.29 3.0 OUTER
AtomPair CA 33 CA 53 HARMONIC 17.78 3.0 OUTER
AtomPair CA 33 CA 54 HARMONIC 17.94 3.0 OUTER
AtomPair CA 33 CA 55 HARMONIC 14.26 3.0 OUTER
AtomPair CA 33 CA 56 HARMONIC 13.71 3.0 OUTER
AtomPair CA 33 CA 57 HARMONIC 16.61 3.0 OUTER
AtomPair CA 33 CA 58 HARMONIC 15.57 3.0 OUTER
AtomPair CA 33 CA 59 HARMONIC 12.93 3.0 OUTER
AtomPair CA 33 CA 60 HARMONIC 15.03 3.0 OUTER
AtomPair CA 33 CA 61 HARMONIC 14.00 3.0 OUTER
AtomPair CA 33 CA 62 HARMONIC 11.12 3.0 OUTER
AtomPair CA 33 CA 63 HARMONIC 13.56 3.0 OUTER
AtomPair CA 33 CA 64 HARMONIC 11.80 3.0 OUTER
AtomPair CA 34 CA 50 HARMONIC 20.74 3.0 OUTER
AtomPair CA 34 CA 51 HARMONIC 18.04 3.0 OUTER
AtomPair CA 34 CA 52 HARMONIC 15.27 3.0 OUTER
AtomPair CA 34 CA 53 HARMONIC 16.78 3.0 OUTER
AtomPair CA 34 CA 54 HARMONIC 17.75 3.0 OUTER
AtomPair CA 34 CA 55 HARMONIC 14.39 3.0 OUTER
AtomPair CA 34 CA 56 HARMONIC 13.11 3.0 OUTER
AtomPair CA 34 CA 57 HARMONIC 16.31 3.0 OUTER
AtomPair CA 34 CA 58 HARMONIC 16.16 3.0 OUTER
AtomPair CA 34 CA 59 HARMONIC 13.50 3.0 OUTER
AtomPair CA 34 CA 60 HARMONIC 15.66 3.0 OUTER
AtomPair CA 34 CA 61 HARMONIC 14.62 3.0 OUTER
AtomPair CA 34 CA 62 HARMONIC 11.84 3.0 OUTER
AtomPair CA 34 CA 63 HARMONIC 14.36 3.0 OUTER
AtomPair CA 34 CA 64 HARMONIC 12.91 3.0 OUTER
AtomPair CA 35 CA 50 HARMONIC 20.95 3.0 OUTER
AtomPair CA 35 CA 51 HARMONIC 18.01 3.0 OUTER
AtomPair CA 35 CA 52 HARMONIC 15.52 3.0 OUTER
AtomPair CA 35 CA 53 HARMONIC 17.78 3.0 OUTER
AtomPair CA 35 CA 54 HARMONIC 18.77 3.0 OUTER
AtomPair CA 35 CA 55 HARMONIC 15.40 3.0 OUTER
AtomPair CA 35 CA 56 HARMONIC 14.80 3.0 OUTER
AtomPair CA 35 CA 57 HARMONIC 18.33 3.0 OUTER
AtomPair CA 35 CA 58 HARMONIC 18.08 3.0 OUTER
AtomPair CA 35 CA 59 HARMONIC 15.99 3.0 OUTER
AtomPair CA 35 CA 60 HARMONIC 18.63 3.0 OUTER
AtomPair CA 35 CA 61 HARMONIC 17.92 3.0 OUTER
AtomPair CA 35 CA 62 HARMONIC 15.34 3.0 OUTER
AtomPair CA 35 CA 63 HARMONIC 18.01 3.0 OUTER
AtomPair CA 35 CA 64 HARMONIC 16.43 3.0 OUTER
AtomPair CA 36 CA 50 HARMONIC 18.57 3.0 OUTER
AtomPair CA 36 CA 51 HARMONIC 15.30 3.0 OUTER
AtomPair CA 36 CA 52 HARMONIC 13.35 3.0 OUTER
AtomPair CA 36 CA 53 HARMONIC 15.75 3.0 OUTER
AtomPair CA 36 CA 54 HARMONIC 16.12 3.0 OUTER
AtomPair CA 36 CA 55 HARMONIC 12.57 3.0 OUTER
AtomPair CA 36 CA 56 HARMONIC 12.74 3.0 OUTER
AtomPair CA 36 CA 57 HARMONIC 16.20 3.0 OUTER
AtomPair CA 36 CA 58 HARMONIC 15.44 3.0 OUTER
AtomPair CA 36 CA 59 HARMONIC 13.81 3.0 OUTER
AtomPair CA 36 CA 60 HARMONIC 16.83 3.0 OUTER
AtomPair CA 36 CA 61 HARMONIC 16.56 3.0 OUTER
AtomPair CA 36 CA 62 HARMONIC 14.48 3.0 OUTER
AtomPair CA 36 CA 63 HARMONIC 17.56 3.0 OUTER
AtomPair CA 36 CA 64 HARMONIC 16.42 3.0 OUTER
AtomPair CA 37 CA 50 HARMONIC 15.97 3.0 OUTER
AtomPair CA 37 CA 51 HARMONIC 13.09 3.0 OUTER
AtomPair CA 37 CA 52 HARMONIC 10.54 3.0 OUTER
AtomPair CA 37 CA 53 HARMONIC 12.52 3.0 OUTER
AtomPair CA 37 CA 54 HARMONIC 13.37 3.0 OUTER
AtomPair CA 37 CA 55 HARMONIC 10.03 3.0 OUTER
AtomPair CA 37 CA 56 HARMONIC 9.43 3.0 OUTER
AtomPair CA 37 CA 57 HARMONIC 13.02 3.0 OUTER
AtomPair CA 37 CA 58 HARMONIC 12.92 3.0 OUTER
AtomPair CA 37 CA 59 HARMONIC 11.23 3.0 OUTER
AtomPair CA 37 CA 60 HARMONIC 14.32 3.0 OUTER
AtomPair CA 37 CA 61 HARMONIC 14.22 3.0 OUTER
AtomPair CA 37 CA 62 HARMONIC 12.57 3.0 OUTER
AtomPair CA 37 CA 63 HARMONIC 15.94 3.0 OUTER
AtomPair CA 37 CA 64 HARMONIC 15.49 3.0 OUTER
AtomPair CA 38 CA 50 HARMONIC 16.65 3.0 OUTER
AtomPair CA 38 CA 51 HARMONIC 14.10 3.0 OUTER
AtomPair CA 38 CA 52 HARMONIC 11.22 3.0 OUTER
AtomPair CA 38 CA 53 HARMONIC 13.68 3.0 OUTER
AtomPair CA 38 CA 54 HARMONIC 15.30 3.0 OUTER
AtomPair CA 38 CA 55 HARMONIC 12.47 3.0 OUTER
AtomPair CA 38 CA 56 HARMONIC 11.65 3.0 OUTER
AtomPair CA 38 CA 57 HARMONIC 15.41 3.0 OUTER
AtomPair CA 38 CA 58 HARMONIC 15.95 3.0 OUTER
AtomPair CA 38 CA 59 HARMONIC 14.50 3.0 OUTER
AtomPair CA 38 CA 60 HARMONIC 17.55 3.0 OUTER
AtomPair CA 38 CA 61 HARMONIC 17.42 3.0 OUTER
AtomPair CA 38 CA 62 HARMONIC 15.71 3.0 OUTER
AtomPair CA 38 CA 63 HARMONIC 18.91 3.0 OUTER
AtomPair CA 38 CA 64 HARMONIC 18.29 3.0 OUTER
AtomPair CA 39 CA 50 HARMONIC 16.34 3.0 OUTER
AtomPair CA 39 CA 51 HARMONIC 13.35 3.0 OUTER
AtomPair CA 39 CA 52 HARMONIC 11.30 3.0 OUTER
AtomPair CA 39 CA 53 HARMONIC 14.45 3.0 OUTER
AtomPair CA 39 CA 54 HARMONIC 15.52 3.0 OUTER
AtomPair CA 39 CA 55 HARMONIC 12.66 3.0 OUTER
AtomPair CA 39 CA 56 HARMONIC 12.97 3.0 OUTER
AtomPair CA 39 CA 57 HARMONIC 16.72 3.0 OUTER
AtomPair CA 39 CA 58 HARMONIC 16.74 3.0 OUTER
AtomPair CA 39 CA 59 HARMONIC 15.90 3.0 OUTER
AtomPair CA 39 CA 60 HARMONIC 19.31 3.0 OUTER
AtomPair CA 39 CA 61 HARMONIC 19.50 3.0 OUTER
AtomPair CA 39 CA 62 HARMONIC 17.98 3.0 OUTER
AtomPair CA 39 CA 63 HARMONIC 21.33 3.0 OUTER
AtomPair CA 39 CA 64 HARMONIC 20.64 3.0 OUTER
AtomPair CA 40 CA 50 HARMONIC 12.89 3.0 OUTER
AtomPair CA 40 CA 51 HARMONIC 9.71 3.0 OUTER
AtomPair CA 40 CA 52 HARMONIC 7.90 3.0 OUTER
AtomPair CA 40 CA 53 HARMONIC 11.06 3.0 OUTER
AtomPair CA 40 CA 54 HARMONIC 11.79 3.0 OUTER
AtomPair CA 40 CA 55 HARMONIC 8.99 3.0 OUTER
AtomPair CA 40 CA 56 HARMONIC 9.79 3.0 OUTER
AtomPair CA 40 CA 57 HARMONIC 13.43 3.0 OUTER
AtomPair CA 40 CA 58 HARMONIC 13.38 3.0 OUTER
AtomPair CA 40 CA 59 HARMONIC 13.11 3.0 OUTER
AtomPair CA 40 CA 60 HARMONIC 16.75 3.0 OUTER
AtomPair CA 40 CA 61 HARMONIC 17.41 3.0 OUTER
AtomPair CA 40 CA 62 HARMONIC 16.56 3.0 OUTER
AtomPair CA 40 CA 63 HARMONIC 20.19 3.0 OUTER
AtomPair CA 40 CA 64 HARMONIC 20.12 3.0 OUTER
AtomPair CA 41 CA 50 HARMONIC 11.84 3.0 OUTER
AtomPair CA 41 CA 51 HARMONIC 9.56 3.0 OUTER
AtomPair CA 41 CA 52 HARMONIC 6.64 3.0 OUTER
AtomPair CA 41 CA 53 HARMONIC 9.64 3.0 OUTER
AtomPair CA 41 CA 54 HARMONIC 11.57 3.0 OUTER
AtomPair CA 41 CA 55 HARMONIC 9.56 3.0 OUTER
AtomPair CA 41 CA 56 HARMONIC 9.21 3.0 OUTER
AtomPair CA 41 CA 57 HARMONIC 12.90 3.0 OUTER
AtomPair CA 41 CA 58 HARMONIC 13.93 3.0 OUTER
AtomPair CA 41 CA 59 HARMONIC 13.63 3.0 OUTER
AtomPair CA 41 CA 60 HARMONIC 17.06 3.0 OUTER
AtomPair CA 41 CA 61 HARMONIC 17.72 3.0 OUTER
AtomPair CA 41 CA 62 HARMONIC 17.07 3.0 OUTER
AtomPair CA 41 CA 63 HARMONIC 20.66 3.0 OUTER
AtomPair CA 41 CA 64 HARMONIC 20.89 3.0 OUTER
AtomPair CA 42 CA 50 HARMONIC 13.75 3.0 OUTER
AtomPair CA 42 CA 51 HARMONIC 11.58 3.0 OUTER
AtomPair CA 42 CA 52 HARMONIC 9.33 3.0 OUTER
AtomPair CA 42 CA 53 HARMONIC 12.73 3.0 OUTER
AtomPair CA 42 CA 54 HARMONIC 14.64 3.0 OUTER
AtomPair CA 42 CA 55 HARMONIC 12.86 3.0 OUTER
AtomPair CA 42 CA 56 HARMONIC 12.96 3.0 OUTER
AtomPair CA 42 CA 57 HARMONIC 16.58 3.0 OUTER
AtomPair CA 42 CA 58 HARMONIC 17.50 3.0 OUTER
AtomPair CA 42 CA 59 HARMONIC 17.35 3.0 OUTER
AtomPair CA 42 CA 60 HARMONIC 20.83 3.0 OUTER
AtomPair CA 42 CA 61 HARMONIC 21.43 3.0 OUTER
AtomPair CA 42 CA 62 HARMONIC 20.54 3.0 OUTER
AtomPair CA 42 CA 63 HARMONIC 24.05 3.0 OUTER
AtomPair CA 42 CA 64 HARMONIC 23.94 3.0 OUTER
AtomPair CA 43 CA 50 HARMONIC 12.16 3.0 OUTER
AtomPair CA 43 CA 51 HARMONIC 9.51 3.0 OUTER
AtomPair CA 43 CA 52 HARMONIC 8.50 3.0 OUTER
AtomPair CA 43 CA 53 HARMONIC 12.28 3.0 OUTER
AtomPair CA 43 CA 54 HARMONIC 13.38 3.0 OUTER
AtomPair CA 43 CA 55 HARMONIC 11.74 3.0 OUTER
AtomPair CA 43 CA 56 HARMONIC 12.94 3.0 OUTER
AtomPair CA 43 CA 57 HARMONIC 16.31 3.0 OUTER
AtomPair CA 43 CA 58 HARMONIC 16.71 3.0 OUTER
AtomPair CA 43 CA 59 HARMONIC 17.23 3.0 OUTER
AtomPair CA 43 CA 60 HARMONIC 20.94 3.0 OUTER
AtomPair CA 43 CA 61 HARMONIC 21.91 3.0 OUTER
AtomPair CA 43 CA 62 HARMONIC 21.39 3.0 OUTER
AtomPair CA 43 CA 63 HARMONIC 25.06 3.0 OUTER
AtomPair CA 43 CA 64 HARMONIC 25.11 3.0 OUTER
AtomPair CA 44 CA 50 HARMONIC 8.57 3.0 OUTER
AtomPair CA 44 CA 51 HARMONIC 6.47 3.0 OUTER
AtomPair CA 44 CA 52 HARMONIC 5.18 3.0 OUTER
AtomPair CA 44 CA 53 HARMONIC 8.91 3.0 OUTER
AtomPair CA 44 CA 54 HARMONIC 10.43 3.0 OUTER
AtomPair CA 44 CA 55 HARMONIC 9.63 3.0 OUTER
AtomPair CA 44 CA 56 HARMONIC 10.62 3.0 OUTER
AtomPair CA 44 CA 57 HARMONIC 13.65 3.0 OUTER
AtomPair CA 44 CA 58 HARMONIC 14.62 3.0 OUTER
AtomPair CA 44 CA 59 HARMONIC 15.60 3.0 OUTER
AtomPair CA 44 CA 60 HARMONIC 19.22 3.0 OUTER
AtomPair CA 44 CA 61 HARMONIC 20.51 3.0 OUTER
AtomPair CA 44 CA 62 HARMONIC 20.57 3.0 OUTER
AtomPair CA 44 CA 63 HARMONIC 24.31 3.0 OUTER
AtomPair CA 44 CA 64 HARMONIC 24.93 3.0 OUTER
AtomPair CA 45 CA 50 HARMONIC 10.55 3.0 OUTER
AtomPair CA 45 CA 51 HARMONIC 9.58 3.0 OUTER
AtomPair CA 45 CA 52 HARMONIC 7.77 3.0 OUTER
AtomPair CA 45 CA 53 HARMONIC 10.94 3.0 OUTER
AtomPair CA 45 CA 54 HARMONIC 13.31 3.0 OUTER
AtomPair CA 45 CA 55 HARMONIC 12.88 3.0 OUTER
AtomPair CA 45 CA 56 HARMONIC 13.07 3.0 OUTER
AtomPair CA 45 CA 57 HARMONIC 16.09 3.0 OUTER
AtomPair CA 45 CA 58 HARMONIC 17.65 3.0 OUTER
AtomPair CA 45 CA 59 HARMONIC 18.36 3.0 OUTER
AtomPair CA 45 CA 60 HARMONIC 21.79 3.0 OUTER
AtomPair CA 45 CA 61 HARMONIC 22.89 3.0 OUTER
AtomPair CA 45 CA 62 HARMONIC 22.77 3.0 OUTER
AtomPair CA 45 CA 63 HARMONIC 26.40 3.0 OUTER
AtomPair CA 45 CA 64 HARMONIC 26.93 3.0 OUTER