AtomPair CA 2 CA 4 HARMONIC 6.50 1.5 INNER
AtomPair CA 2 CA 5 HARMONIC 9.98 1.5 INNER
AtomPair CA 2 CA 6 HARMONIC 13.00 1.5 INNER
AtomPair CA 2 CA 7 HARMONIC 16.39 1.5 INNER
AtomPair CA 2 CA 8 HARMONIC 19.50 1.5 INNER
AtomPair CA 2 CA 9 HARMONIC 22.85 1.5 INNER
AtomPair CA 3 CA 5 HARMONIC 6.50 1.5 INNER
AtomPair CA 3 CA 6 HARMONIC 9.98 1.5 INNER
AtomPair CA 3 CA 7 HARMONIC 13.00 1.5 INNER
AtomPair CA 3 CA 8 HARMONIC 16.39 1.5 INNER
AtomPair CA 3 CA 9 HARMONIC 19.50 1.5 INNER
AtomPair CA 4 CA 6 HARMONIC 6.50 1.5 INNER
AtomPair CA 4 CA 7 HARMONIC 9.98 1.5 INNER
AtomPair CA 4 CA 8 HARMONIC 13.00 1.5 INNER
AtomPair CA 4 CA 9 HARMONIC 16.39 1.5 INNER
AtomPair CA 5 CA 7 HARMONIC 6.50 1.5 INNER
AtomPair CA 5 CA 8 HARMONIC 9.98 1.5 INNER
AtomPair CA 5 CA 9 HARMONIC 13.00 1.5 INNER
AtomPair CA 6 CA 8 HARMONIC 6.50 1.5 INNER
AtomPair CA 6 CA 9 HARMONIC 9.98 1.5 INNER
AtomPair CA 7 CA 9 HARMONIC 6.50 1.5 INNER
AtomPair CA 12 CA 14 HARMONIC 6.50 1.5 INNER
AtomPair CA 12 CA 15 HARMONIC 9.98 1.5 INNER
AtomPair CA 12 CA 16 HARMONIC 13.00 1.5 INNER
AtomPair CA 12 CA 17 HARMONIC 16.39 1.5 INNER
AtomPair CA 12 CA 18 HARMONIC 19.50 1.5 INNER
AtomPair CA 12 CA 19 HARMONIC 22.85 1.5 INNER
AtomPair CA 13 CA 15 HARMONIC 6.50 1.5 INNER
AtomPair CA 13 CA 16 HARMONIC 9.98 1.5 INNER
AtomPair CA 13 CA 17 HARMONIC 13.00 1.5 INNER
AtomPair CA 13 CA 18 HARMONIC 16.39 1.5 INNER
AtomPair CA 13 CA 19 HARMONIC 19.50 1.5 INNER
AtomPair CA 14 CA 16 HARMONIC 6.50 1.5 INNER
AtomPair CA 14 CA 17 HARMONIC 9.98 1.5 INNER
AtomPair CA 14 CA 18 HARMONIC 13.00 1.5 INNER
AtomPair CA 14 CA 19 HARMONIC 16.39 1.5 INNER
AtomPair CA 15 CA 17 HARMONIC 6.50 1.5 INNER
AtomPair CA 15 CA 18 HARMONIC 9.98 1.5 INNER
AtomPair CA 15 CA 19 HARMONIC 13.00 1.5 INNER
AtomPair CA 16 CA 18 HARMONIC 6.50 1.5 INNER
AtomPair CA 16 CA 19 HARMONIC 9.98 1.5 INNER
AtomPair CA 17 CA 19 HARMONIC 6.50 1.5 INNER
AtomPair CA 22 CA 24 HARMONIC 6.50 1.5 INNER
AtomPair CA 22 CA 25 HARMONIC 9.98 1.5 INNER
AtomPair CA 22 CA 26 HARMONIC 13.00 1.5 INNER
AtomPair CA 22 CA 27 HARMONIC 16.39 1.5 INNER
AtomPair CA 22 CA 28 HARMONIC 19.50 1.5 INNER
AtomPair CA 22 CA 29 HARMONIC 22.85 1.5 INNER
AtomPair CA 23 CA 25 HARMONIC 6.50 1.5 INNER
AtomPair CA 23 CA 26 HARMONIC 9.98 1.5 INNER
AtomPair CA 23 CA 27 HARMONIC 13.00 1.5 INNER
AtomPair CA 23 CA 28 HARMONIC 16.39 1.5 INNER
AtomPair CA 23 CA 29 HARMONIC 19.50 1.5 INNER
AtomPair CA 24 CA 26 HARMONIC 6.50 1.5 INNER
AtomPair CA 24 CA 27 HARMONIC 9.98 1.5 INNER
AtomPair CA 24 CA 28 HARMONIC 13.00 1.5 INNER
AtomPair CA 24 CA 29 HARMONIC 16.39 1.5 INNER
AtomPair CA 25 CA 27 HARMONIC 6.50 1.5 INNER
AtomPair CA 25 CA 28 HARMONIC 9.98 1.5 INNER
AtomPair CA 25 CA 29 HARMONIC 13.00 1.5 INNER
AtomPair CA 26 CA 28 HARMONIC 6.50 1.5 INNER
AtomPair CA 26 CA 29 HARMONIC 9.98 1.5 INNER
AtomPair CA 27 CA 29 HARMONIC 6.50 1.5 INNER
AtomPair CA 32 CA 34 HARMONIC 6.52 1.5 INNER
AtomPair CA 32 CA 35 HARMONIC 6.79 1.5 INNER
AtomPair CA 32 CA 36 HARMONIC 10.54 1.5 INNER
AtomPair CA 32 CA 37 HARMONIC 13.43 1.5 INNER
AtomPair CA 33 CA 35 HARMONIC 6.08 1.5 INNER
AtomPair CA 33 CA 36 HARMONIC 9.15 1.5 INNER
AtomPair CA 33 CA 37 HARMONIC 11.30 1.5 INNER
AtomPair CA 34 CA 36 HARMONIC 5.83 1.5 INNER
AtomPair CA 34 CA 37 HARMONIC 7.54 1.5 INNER
AtomPair CA 35 CA 37 HARMONIC 7.09 1.5 INNER
AtomPair CA 44 CA 49 HARMONIC 8.66 1.5 INNER
AtomPair CA 44 CA 50 HARMONIC 9.84 1.5 INNER
AtomPair CA 44 CA 51 HARMONIC 10.53 1.5 INNER
AtomPair CA 44 CA 52 HARMONIC 12.36 1.5 INNER
AtomPair CA 44 CA 53 HARMONIC 14.26 1.5 INNER
AtomPair CA 44 CA 54 HARMONIC 15.29 1.5 INNER
AtomPair CA 44 CA 55 HARMONIC 16.52 1.5 INNER
AtomPair CA 44 CA 56 HARMONIC 18.44 1.5 INNER
AtomPair CA 44 CA 57 HARMONIC 19.97 1.5 INNER
AtomPair CA 44 CA 58 HARMONIC 21.06 1.5 INNER
AtomPair CA 45 CA 50 HARMONIC 8.66 1.5 INNER
AtomPair CA 45 CA 51 HARMONIC 9.84 1.5 INNER
AtomPair CA 45 CA 52 HARMONIC 10.53 1.5 INNER
AtomPair CA 45 CA 53 HARMONIC 12.36 1.5 INNER
AtomPair CA 45 CA 54 HARMONIC 14.26 1.5 INNER
AtomPair CA 45 CA 55 HARMONIC 15.29 1.5 INNER
AtomPair CA 45 CA 56 HARMONIC 16.52 1.5 INNER
AtomPair CA 45 CA 57 HARMONIC 18.44 1.5 INNER
AtomPair CA 45 CA 58 HARMONIC 19.97 1.5 INNER
AtomPair CA 46 CA 51 HARMONIC 8.66 1.5 INNER
AtomPair CA 46 CA 52 HARMONIC 9.84 1.5 INNER
AtomPair CA 46 CA 53 HARMONIC 10.53 1.5 INNER
AtomPair CA 46 CA 54 HARMONIC 12.36 1.5 INNER
AtomPair CA 46 CA 55 HARMONIC 14.26 1.5 INNER
AtomPair CA 46 CA 56 HARMONIC 15.29 1.5 INNER
AtomPair CA 46 CA 57 HARMONIC 16.52 1.5 INNER
AtomPair CA 46 CA 58 HARMONIC 18.44 1.5 INNER
AtomPair CA 47 CA 52 HARMONIC 8.66 1.5 INNER
AtomPair CA 47 CA 53 HARMONIC 9.84 1.5 INNER
AtomPair CA 47 CA 54 HARMONIC 10.53 1.5 INNER
AtomPair CA 47 CA 55 HARMONIC 12.36 1.5 INNER
AtomPair CA 47 CA 56 HARMONIC 14.26 1.5 INNER
AtomPair CA 47 CA 57 HARMONIC 15.29 1.5 INNER
AtomPair CA 47 CA 58 HARMONIC 16.52 1.5 INNER
AtomPair CA 48 CA 53 HARMONIC 8.66 1.5 INNER
AtomPair CA 48 CA 54 HARMONIC 9.84 1.5 INNER
AtomPair CA 48 CA 55 HARMONIC 10.53 1.5 INNER
AtomPair CA 48 CA 56 HARMONIC 12.36 1.5 INNER
AtomPair CA 48 CA 57 HARMONIC 14.26 1.5 INNER
AtomPair CA 48 CA 58 HARMONIC 15.29 1.5 INNER
AtomPair CA 49 CA 54 HARMONIC 8.66 1.5 INNER
AtomPair CA 49 CA 55 HARMONIC 9.84 1.5 INNER
AtomPair CA 49 CA 56 HARMONIC 10.53 1.5 INNER
AtomPair CA 49 CA 57 HARMONIC 12.36 1.5 INNER
AtomPair CA 49 CA 58 HARMONIC 14.26 1.5 INNER
AtomPair CA 50 CA 55 HARMONIC 8.66 1.5 INNER
AtomPair CA 50 CA 56 HARMONIC 9.84 1.5 INNER
AtomPair CA 50 CA 57 HARMONIC 10.53 1.5 INNER
AtomPair CA 50 CA 58 HARMONIC 12.36 1.5 INNER
AtomPair CA 51 CA 56 HARMONIC 8.66 1.5 INNER
AtomPair CA 51 CA 57 HARMONIC 9.84 1.5 INNER
AtomPair CA 51 CA 58 HARMONIC 10.53 1.5 INNER
AtomPair CA 52 CA 57 HARMONIC 8.66 1.5 INNER
AtomPair CA 52 CA 58 HARMONIC 9.84 1.5 INNER
AtomPair CA 53 CA 58 HARMONIC 8.66 1.5 INNER
AtomPair CA 2 CA 12 HARMONIC 26.40 3.0 OUTER
AtomPair CA 2 CA 13 HARMONIC 23.30 3.0 OUTER
AtomPair CA 2 CA 14 HARMONIC 20.01 3.0 OUTER
AtomPair CA 2 CA 15 HARMONIC 16.99 3.0 OUTER
AtomPair CA 2 CA 16 HARMONIC 13.74 3.0 OUTER
AtomPair CA 2 CA 17 HARMONIC 10.91 3.0 OUTER
AtomPair CA 2 CA 18 HARMONIC 7.84 3.0 OUTER
AtomPair CA 2 CA 19 HARMONIC 5.83 3.0 OUTER
AtomPair CA 3 CA 12 HARMONIC 23.13 3.0 OUTER
AtomPair CA 3 CA 13 HARMONIC 20.27 3.0 OUTER
AtomPair CA 3 CA 14 HARMONIC 16.79 3.0 OUTER
AtomPair CA 3 CA 15 HARMONIC 14.13 3.0 OUTER
AtomPair CA 3 CA 16 HARMONIC 10.64 3.0 OUTER
AtomPair CA 3 CA 17 HARMONIC 8.56 3.0 OUTER
AtomPair CA 3 CA 18 HARMONIC 5.38 3.0 OUTER
AtomPair CA 3 CA 19 HARMONIC 5.61 3.0 OUTER
AtomPair CA 4 CA 12 HARMONIC 20.02 3.0 OUTER
AtomPair CA 4 CA 13 HARMONIC 16.97 3.0 OUTER
AtomPair CA 4 CA 14 HARMONIC 13.74 3.0 OUTER
AtomPair CA 4 CA 15 HARMONIC 10.87 3.0 OUTER
AtomPair CA 4 CA 16 HARMONIC 7.84 3.0 OUTER
AtomPair CA 4 CA 17 HARMONIC 5.75 3.0 OUTER
AtomPair CA 4 CA 18 HARMONIC 4.31 3.0 OUTER
AtomPair CA 4 CA 19 HARMONIC 5.70 3.0 OUTER
AtomPair CA 5 CA 12 HARMONIC 16.76 3.0 OUTER
AtomPair CA 5 CA 13 HARMONIC 14.07 3.0 OUTER
AtomPair CA 5 CA 14 HARMONIC 10.60 3.0 OUTER
AtomPair CA 5 CA 15 HARMONIC 8.46 3.0 OUTER
AtomPair CA 5 CA 16 HARMONIC 5.30 3.0 OUTER
AtomPair CA 5 CA 17 HARMONIC 5.44 3.0 OUTER
AtomPair CA 5 CA 18 HARMONIC 5.33 3.0 OUTER
AtomPair CA 5 CA 19 HARMONIC 8.49 3.0 OUTER
AtomPair CA 6 CA 12 HARMONIC 13.75 3.0 OUTER
AtomPair CA 6 CA 13 HARMONIC 10.83 3.0 OUTER
AtomPair CA 6 CA 14 HARMONIC 7.85 3.0 OUTER
AtomPair CA 6 CA 15 HARMONIC 5.68 3.0 OUTER
AtomPair CA 6 CA 16 HARMONIC 4.32 3.0 OUTER
AtomPair CA 6 CA 17 HARMONIC 5.62 3.0 OUTER
AtomPair CA 6 CA 18 HARMONIC 7.76 3.0 OUTER
AtomPair CA 6 CA 19 HARMONIC 10.74 3.0 OUTER
AtomPair CA 7 CA 12 HARMONIC 10.56 3.0 OUTER
AtomPair CA 7 CA 13 HARMONIC 8.36 3.0 OUTER
AtomPair CA 7 CA 14 HARMONIC 5.23 3.0 OUTER
AtomPair CA 7 CA 15 HARMONIC 5.27 3.0 OUTER
AtomPair CA 7 CA 16 HARMONIC 5.25 3.0 OUTER
AtomPair CA 7 CA 17 HARMONIC 8.38 3.0 OUTER
AtomPair CA 7 CA 18 HARMONIC 10.60 3.0 OUTER
AtomPair CA 7 CA 19 HARMONIC 14.05 3.0 OUTER
AtomPair CA 8 CA 12 HARMONIC 7.86 3.0 OUTER
AtomPair CA 8 CA 13 HARMONIC 5.61 3.0 OUTER
AtomPair CA 8 CA 14 HARMONIC 4.34 3.0 OUTER
AtomPair CA 8 CA 15 HARMONIC 5.55 3.0 OUTER
AtomPair CA 8 CA 16 HARMONIC 7.77 3.0 OUTER
AtomPair CA 8 CA 17 HARMONIC 10.70 3.0 OUTER
AtomPair CA 8 CA 18 HARMONIC 13.65 3.0 OUTER
AtomPair CA 8 CA 19 HARMONIC 16.82 3.0 OUTER
AtomPair CA 9 CA 12 HARMONIC 5.16 3.0 OUTER
AtomPair CA 9 CA 13 HARMONIC 5.11 3.0 OUTER
AtomPair CA 9 CA 14 HARMONIC 5.18 3.0 OUTER
AtomPair CA 9 CA 15 HARMONIC 8.28 3.0 OUTER
AtomPair CA 9 CA 16 HARMONIC 10.56 3.0 OUTER
AtomPair CA 9 CA 17 HARMONIC 13.98 3.0 OUTER
AtomPair CA 9 CA 18 HARMONIC 16.75 3.0 OUTER
AtomPair CA 9 CA 19 HARMONIC 20.17 3.0 OUTER
AtomPair CA 2 CA 22 HARMONIC 8.65 3.0 OUTER
AtomPair CA 2 CA 23 HARMONIC 9.45 3.0 OUTER
AtomPair CA 2 CA 24 HARMONIC 11.48 3.0 OUTER
AtomPair CA 2 CA 25 HARMONIC 13.73 3.0 OUTER
AtomPair CA 2 CA 26 HARMONIC 16.53 3.0 OUTER
AtomPair CA 2 CA 27 HARMONIC 19.29 3.0 OUTER
AtomPair CA 2 CA 28 HARMONIC 22.34 3.0 OUTER
AtomPair CA 2 CA 29 HARMONIC 25.31 3.0 OUTER
AtomPair CA 3 CA 22 HARMONIC 9.18 3.0 OUTER
AtomPair CA 3 CA 23 HARMONIC 8.30 3.0 OUTER
AtomPair CA 3 CA 24 HARMONIC 9.96 3.0 OUTER
AtomPair CA 3 CA 25 HARMONIC 11.23 3.0 OUTER
AtomPair CA 3 CA 26 HARMONIC 14.09 3.0 OUTER
AtomPair CA 3 CA 27 HARMONIC 16.36 3.0 OUTER
AtomPair CA 3 CA 28 HARMONIC 19.56 3.0 OUTER
AtomPair CA 3 CA 29 HARMONIC 22.22 3.0 OUTER
AtomPair CA 4 CA 22 HARMONIC 10.13 3.0 OUTER
AtomPair CA 4 CA 23 HARMONIC 8.65 3.0 OUTER
AtomPair CA 4 CA 24 HARMONIC 8.67 3.0 OUTER
AtomPair CA 4 CA 25 HARMONIC 9.46 3.0 OUTER
AtomPair CA 4 CA 26 HARMONIC 11.49 3.0 OUTER
AtomPair CA 4 CA 27 HARMONIC 13.74 3.0 OUTER
AtomPair CA 4 CA 28 HARMONIC 16.54 3.0 OUTER
AtomPair CA 4 CA 29 HARMONIC 19.30 3.0 OUTER
AtomPair CA 5 CA 22 HARMONIC 12.42 3.0 OUTER
AtomPair CA 5 CA 23 HARMONIC 9.82 3.0 OUTER
AtomPair CA 5 CA 24 HARMONIC 9.20 3.0 OUTER
AtomPair CA 5 CA 25 HARMONIC 8.31 3.0 OUTER
AtomPair CA 5 CA 26 HARMONIC 9.98 3.0 OUTER
AtomPair CA 5 CA 27 HARMONIC 11.24 3.0 OUTER
AtomPair CA 5 CA 28 HARMONIC 14.11 3.0 OUTER
AtomPair CA 5 CA 29 HARMONIC 16.37 3.0 OUTER
AtomPair CA 6 CA 22 HARMONIC 14.66 3.0 OUTER
AtomPair CA 6 CA 23 HARMONIC 12.03 3.0 OUTER
AtomPair CA 6 CA 24 HARMONIC 10.15 3.0 OUTER
AtomPair CA 6 CA 25 HARMONIC 8.65 3.0 OUTER
AtomPair CA 6 CA 26 HARMONIC 8.68 3.0 OUTER
AtomPair CA 6 CA 27 HARMONIC 9.46 3.0 OUTER
AtomPair CA 6 CA 28 HARMONIC 11.50 3.0 OUTER
AtomPair CA 6 CA 29 HARMONIC 13.74 3.0 OUTER
AtomPair CA 7 CA 22 HARMONIC 17.58 3.0 OUTER
AtomPair CA 7 CA 23 HARMONIC 14.44 3.0 OUTER
AtomPair CA 7 CA 24 HARMONIC 12.44 3.0 OUTER
AtomPair CA 7 CA 25 HARMONIC 9.83 3.0 OUTER
AtomPair CA 7 CA 26 HARMONIC 9.23 3.0 OUTER
AtomPair CA 7 CA 27 HARMONIC 8.33 3.0 OUTER
AtomPair CA 7 CA 28 HARMONIC 10.01 3.0 OUTER
AtomPair CA 7 CA 29 HARMONIC 11.25 3.0 OUTER
AtomPair CA 8 CA 22 HARMONIC 20.29 3.0 OUTER
AtomPair CA 8 CA 23 HARMONIC 17.29 3.0 OUTER
AtomPair CA 8 CA 24 HARMONIC 14.67 3.0 OUTER
AtomPair CA 8 CA 25 HARMONIC 12.03 3.0 OUTER
AtomPair CA 8 CA 26 HARMONIC 10.16 3.0 OUTER
AtomPair CA 8 CA 27 HARMONIC 8.65 3.0 OUTER
AtomPair CA 8 CA 28 HARMONIC 8.70 3.0 OUTER
AtomPair CA 8 CA 29 HARMONIC 9.46 3.0 OUTER
AtomPair CA 9 CA 22 HARMONIC 23.41 3.0 OUTER
AtomPair CA 9 CA 23 HARMONIC 20.13 3.0 OUTER
AtomPair CA 9 CA 24 HARMONIC 17.59 3.0 OUTER
AtomPair CA 9 CA 25 HARMONIC 14.45 3.0 OUTER
AtomPair CA 9 CA 26 HARMONIC 12.46 3.0 OUTER
AtomPair CA 9 CA 27 HARMONIC 9.85 3.0 OUTER
AtomPair CA 9 CA 28 HARMONIC 9.26 3.0 OUTER
AtomPair CA 9 CA 29 HARMONIC 8.35 3.0 OUTER
AtomPair CA 2 CA 32 HARMONIC 24.94 3.0 OUTER
AtomPair CA 2 CA 33 HARMONIC 23.22 3.0 OUTER
AtomPair CA 2 CA 34 HARMONIC 20.54 3.0 OUTER
AtomPair CA 2 CA 35 HARMONIC 19.29 3.0 OUTER
AtomPair CA 2 CA 36 HARMONIC 16.20 3.0 OUTER
AtomPair CA 2 CA 37 HARMONIC 15.56 3.0 OUTER
AtomPair CA 3 CA 32 HARMONIC 22.00 3.0 OUTER
AtomPair CA 3 CA 33 HARMONIC 20.66 3.0 OUTER
AtomPair CA 3 CA 34 HARMONIC 18.27 3.0 OUTER
AtomPair CA 3 CA 35 HARMONIC 16.65 3.0 OUTER
AtomPair CA 3 CA 36 HARMONIC 13.96 3.0 OUTER
AtomPair CA 3 CA 37 HARMONIC 14.18 3.0 OUTER
AtomPair CA 4 CA 32 HARMONIC 19.65 3.0 OUTER
AtomPair CA 4 CA 33 HARMONIC 18.08 3.0 OUTER
AtomPair CA 4 CA 34 HARMONIC 16.07 3.0 OUTER
AtomPair CA 4 CA 35 HARMONIC 14.97 3.0 OUTER
AtomPair CA 4 CA 36 HARMONIC 12.77 3.0 OUTER
AtomPair CA 4 CA 37 HARMONIC 13.27 3.0 OUTER
AtomPair CA 5 CA 32 HARMONIC 17.03 3.0 OUTER
AtomPair CA 5 CA 33 HARMONIC 16.03 3.0 OUTER
AtomPair CA 5 CA 34 HARMONIC 14.57 3.0 OUTER
AtomPair CA 5 CA 35 HARMONIC 13.10 3.0 OUTER
AtomPair CA 5 CA 36 HARMONIC 11.73 3.0 OUTER
AtomPair CA 5 CA 37 HARMONIC 13.32 3.0 OUTER
AtomPair CA 6 CA 32 HARMONIC 15.31 3.0 OUTER
AtomPair CA 6 CA 33 HARMONIC 14.11 3.0 OUTER
AtomPair CA 6 CA 34 HARMONIC 13.38 3.0 OUTER
AtomPair CA 6 CA 35 HARMONIC 12.68 3.0 OUTER
AtomPair CA 6 CA 36 HARMONIC 12.16 3.0 OUTER
AtomPair CA 6 CA 37 HARMONIC 13.96 3.0 OUTER
AtomPair CA 7 CA 32 HARMONIC 13.44 3.0 OUTER
AtomPair CA 7 CA 33 HARMONIC 13.08 3.0 OUTER
AtomPair CA 7 CA 34 HARMONIC 13.24 3.0 OUTER
AtomPair CA 7 CA 35 HARMONIC 12.26 3.0 OUTER
AtomPair CA 7 CA 36 HARMONIC 12.83 3.0 OUTER
AtomPair CA 7 CA 37 HARMONIC 15.44 3.0 OUTER
AtomPair CA 8 CA 32 HARMONIC 12.94 3.0 OUTER
AtomPair CA 8 CA 33 HARMONIC 12.47 3.0 OUTER
AtomPair CA 8 CA 34 HARMONIC 13.58 3.0 OUTER
AtomPair CA 8 CA 35 HARMONIC 13.49 3.0 OUTER
AtomPair CA 8 CA 36 HARMONIC 14.74 3.0 OUTER
AtomPair CA 8 CA 37 HARMONIC 17.26 3.0 OUTER
AtomPair CA 9 CA 32 HARMONIC 12.48 3.0 OUTER
AtomPair CA 9 CA 33 HARMONIC 13.04 3.0 OUTER
AtomPair CA 9 CA 34 HARMONIC 14.93 3.0 OUTER
AtomPair CA 9 CA 35 HARMONIC 14.62 3.0 OUTER
AtomPair CA 9 CA 36 HARMONIC 16.62 3.0 OUTER
AtomPair CA 9 CA 37 HARMONIC 19.59 3.0 OUTER
AtomPair CA 2 CA 44 HARMONIC 11.64 3.0 OUTER
AtomPair CA 2 CA 45 HARMONIC 13.79 3.0 OUTER
AtomPair CA 2 CA 46 HARMONIC 12.27 3.0 OUTER
AtomPair CA 2 CA 47 HARMONIC 12.83 3.0 OUTER
AtomPair CA 2 CA 48 HARMONIC 16.28 3.0 OUTER
AtomPair CA 2 CA 49 HARMONIC 17.10 3.0 OUTER
AtomPair CA 2 CA 50 HARMONIC 16.41 3.0 OUTER
AtomPair CA 2 CA 51 HARMONIC 18.63 3.0 OUTER
AtomPair CA 2 CA 52 HARMONIC 21.24 3.0 OUTER
AtomPair CA 2 CA 53 HARMONIC 21.34 3.0 OUTER
AtomPair CA 2 CA 54 HARMONIC 21.89 3.0 OUTER
AtomPair CA 2 CA 55 HARMONIC 24.62 3.0 OUTER
AtomPair CA 2 CA 56 HARMONIC 26.24 3.0 OUTER
AtomPair CA 2 CA 57 HARMONIC 26.33 3.0 OUTER
AtomPair CA 2 CA 58 HARMONIC 27.94 3.0 OUTER
AtomPair CA 3 CA 44 HARMONIC 8.94 3.0 OUTER
AtomPair CA 3 CA 45 HARMONIC 11.21 3.0 OUTER
AtomPair CA 3 CA 46 HARMONIC 9.34 3.0 OUTER
AtomPair CA 3 CA 47 HARMONIC 9.24 3.0 OUTER
AtomPair CA 3 CA 48 HARMONIC 12.87 3.0 OUTER
AtomPair CA 3 CA 49 HARMONIC 13.83 3.0 OUTER
AtomPair CA 3 CA 50 HARMONIC 12.82 3.0 OUTER
AtomPair CA 3 CA 51 HARMONIC 14.86 3.0 OUTER
AtomPair CA 3 CA 52 HARMONIC 17.65 3.0 OUTER
AtomPair CA 3 CA 53 HARMONIC 17.82 3.0 OUTER
AtomPair CA 3 CA 54 HARMONIC 18.15 3.0 OUTER
AtomPair CA 3 CA 55 HARMONIC 20.84 3.0 OUTER
AtomPair CA 3 CA 56 HARMONIC 22.62 3.0 OUTER
AtomPair CA 3 CA 57 HARMONIC 22.71 3.0 OUTER
AtomPair CA 3 CA 58 HARMONIC 24.16 3.0 OUTER
AtomPair CA 4 CA 44 HARMONIC 11.40 3.0 OUTER
AtomPair CA 4 CA 45 HARMONIC 13.54 3.0 OUTER
AtomPair CA 4 CA 46 HARMONIC 11.01 3.0 OUTER
AtomPair CA 4 CA 47 HARMONIC 10.09 3.0 OUTER
AtomPair CA 4 CA 48 HARMONIC 13.92 3.0 OUTER
AtomPair CA 4 CA 49 HARMONIC 14.65 3.0 OUTER
AtomPair CA 4 CA 50 HARMONIC 12.63 3.0 OUTER
AtomPair CA 4 CA 51 HARMONIC 14.58 3.0 OUTER
AtomPair CA 4 CA 52 HARMONIC 17.73 3.0 OUTER
AtomPair CA 4 CA 53 HARMONIC 17.37 3.0 OUTER
AtomPair CA 4 CA 54 HARMONIC 17.05 3.0 OUTER
AtomPair CA 4 CA 55 HARMONIC 20.10 3.0 OUTER
AtomPair CA 4 CA 56 HARMONIC 21.98 3.0 OUTER
AtomPair CA 4 CA 57 HARMONIC 21.46 3.0 OUTER
AtomPair CA 4 CA 58 HARMONIC 22.75 3.0 OUTER
AtomPair CA 5 CA 44 HARMONIC 10.81 3.0 OUTER
AtomPair CA 5 CA 45 HARMONIC 12.68 3.0 OUTER
AtomPair CA 5 CA 46 HARMONIC 10.00 3.0 OUTER
AtomPair CA 5 CA 47 HARMONIC 8.06 3.0 OUTER
AtomPair CA 5 CA 48 HARMONIC 11.68 3.0 OUTER
AtomPair CA 5 CA 49 HARMONIC 12.48 3.0 OUTER
AtomPair CA 5 CA 50 HARMONIC 9.85 3.0 OUTER
AtomPair CA 5 CA 51 HARMONIC 11.33 3.0 OUTER
AtomPair CA 5 CA 52 HARMONIC 14.73 3.0 OUTER
AtomPair CA 5 CA 53 HARMONIC 14.36 3.0 OUTER
AtomPair CA 5 CA 54 HARMONIC 13.54 3.0 OUTER
AtomPair CA 5 CA 55 HARMONIC 16.56 3.0 OUTER
AtomPair CA 5 CA 56 HARMONIC 18.67 3.0 OUTER
AtomPair CA 5 CA 57 HARMONIC 18.04 3.0 OUTER
AtomPair CA 5 CA 58 HARMONIC 19.06 3.0 OUTER
AtomPair CA 6 CA 44 HARMONIC 14.46 3.0 OUTER
AtomPair CA 6 CA 45 HARMONIC 16.15 3.0 OUTER
AtomPair CA 6 CA 46 HARMONIC 13.27 3.0 OUTER
AtomPair CA 6 CA 47 HARMONIC 11.12 3.0 OUTER
AtomPair CA 6 CA 48 HARMONIC 14.38 3.0 OUTER
AtomPair CA 6 CA 49 HARMONIC 14.88 3.0 OUTER
AtomPair CA 6 CA 50 HARMONIC 11.60 3.0 OUTER
AtomPair CA 6 CA 51 HARMONIC 12.74 3.0 OUTER
AtomPair CA 6 CA 52 HARMONIC 16.19 3.0 OUTER
AtomPair CA 6 CA 53 HARMONIC 15.26 3.0 OUTER
AtomPair CA 6 CA 54 HARMONIC 13.67 3.0 OUTER
AtomPair CA 6 CA 55 HARMONIC 16.92 3.0 OUTER
AtomPair CA 6 CA 56 HARMONIC 19.04 3.0 OUTER
AtomPair CA 6 CA 57 HARMONIC 17.67 3.0 OUTER
AtomPair CA 6 CA 58 HARMONIC 18.42 3.0 OUTER
AtomPair CA 7 CA 44 HARMONIC 15.43 3.0 OUTER
AtomPair CA 7 CA 45 HARMONIC 16.75 3.0 OUTER
AtomPair CA 7 CA 46 HARMONIC 14.04 3.0 OUTER
AtomPair CA 7 CA 47 HARMONIC 11.36 3.0 OUTER
AtomPair CA 7 CA 48 HARMONIC 13.85 3.0 OUTER
AtomPair CA 7 CA 49 HARMONIC 14.31 3.0 OUTER
AtomPair CA 7 CA 50 HARMONIC 10.69 3.0 OUTER
AtomPair CA 7 CA 51 HARMONIC 10.97 3.0 OUTER
AtomPair CA 7 CA 52 HARMONIC 14.38 3.0 OUTER
AtomPair CA 7 CA 53 HARMONIC 13.39 3.0 OUTER
AtomPair CA 7 CA 54 HARMONIC 11.03 3.0 OUTER
AtomPair CA 7 CA 55 HARMONIC 14.11 3.0 OUTER
AtomPair CA 7 CA 56 HARMONIC 16.44 3.0 OUTER
AtomPair CA 7 CA 57 HARMONIC 14.80 3.0 OUTER
AtomPair CA 7 CA 58 HARMONIC 15.07 3.0 OUTER
AtomPair CA 8 CA 44 HARMONIC 19.31 3.0 OUTER
AtomPair CA 8 CA 45 HARMONIC 20.56 3.0 OUTER
AtomPair CA 8 CA 46 HARMONIC 17.77 3.0 OUTER
AtomPair CA 8 CA 47 HARMONIC 15.16 3.0 OUTER
AtomPair CA 8 CA 48 HARMONIC 17.45 3.0 OUTER
AtomPair CA 8 CA 49 HARMONIC 17.68 3.0 OUTER
AtomPair CA 8 CA 50 HARMONIC 13.93 3.0 OUTER
AtomPair CA 8 CA 51 HARMONIC 14.02 3.0 OUTER
AtomPair CA 8 CA 52 HARMONIC 17.15 3.0 OUTER
AtomPair CA 8 CA 53 HARMONIC 15.76 3.0 OUTER
AtomPair CA 8 CA 54 HARMONIC 12.95 3.0 OUTER
AtomPair CA 8 CA 55 HARMONIC 15.91 3.0 OUTER
AtomPair CA 8 CA 56 HARMONIC 18.07 3.0 OUTER
AtomPair CA 8 CA 57 HARMONIC 15.75 3.0 OUTER
AtomPair CA 8 CA 58 HARMONIC 15.67 3.0 OUTER
AtomPair CA 9 CA 44 HARMONIC 21.07 3.0 OUTER
AtomPair CA 9 CA 45 HARMONIC 22.02 3.0 OUTER
AtomPair CA 9 CA 46 HARMONIC 19.47 3.0 OUTER
AtomPair CA 9 CA 47 HARMONIC 16.66 3.0 OUTER
AtomPair CA 9 CA 48 HARMONIC 18.22 3.0 OUTER
AtomPair CA 9 CA 49 HARMONIC 18.39 3.0 OUTER
AtomPair CA 9 CA 50 HARMONIC 14.70 3.0 OUTER
AtomPair CA 9 CA 51 HARMONIC 14.03 3.0 OUTER
AtomPair CA 9 CA 52 HARMONIC 16.77 3.0 OUTER
AtomPair CA 9 CA 53 HARMONIC 15.40 3.0 OUTER
AtomPair CA 9 CA 54 HARMONIC 12.03 3.0 OUTER
AtomPair CA 9 CA 55 HARMONIC 14.43 3.0 OUTER
AtomPair CA 9 CA 56 HARMONIC 16.62 3.0 OUTER
AtomPair CA 9 CA 57 HARMONIC 14.05 3.0 OUTER
AtomPair CA 9 CA 58 HARMONIC 13.25 3.0 OUTER
AtomPair CA 12 CA 22 HARMONIC 25.44 3.0 OUTER
AtomPair CA 12 CA 23 HARMONIC 22.07 3.0 OUTER
AtomPair CA 12 CA 24 HARMONIC 19.13 3.0 OUTER
AtomPair CA 12 CA 25 HARMONIC 15.74 3.0 OUTER
AtomPair CA 12 CA 26 HARMONIC 13.00 3.0 OUTER
AtomPair CA 12 CA 27 HARMONIC 9.65 3.0 OUTER
AtomPair CA 12 CA 28 HARMONIC 7.52 3.0 OUTER
AtomPair CA 12 CA 29 HARMONIC 4.80 3.0 OUTER
AtomPair CA 13 CA 22 HARMONIC 22.13 3.0 OUTER
AtomPair CA 13 CA 23 HARMONIC 18.97 3.0 OUTER
AtomPair CA 13 CA 24 HARMONIC 15.79 3.0 OUTER
AtomPair CA 13 CA 25 HARMONIC 12.71 3.0 OUTER
AtomPair CA 13 CA 26 HARMONIC 9.67 3.0 OUTER
AtomPair CA 13 CA 27 HARMONIC 6.92 3.0 OUTER
AtomPair CA 13 CA 28 HARMONIC 4.71 3.0 OUTER
AtomPair CA 13 CA 29 HARMONIC 4.33 3.0 OUTER
AtomPair CA 14 CA 22 HARMONIC 19.08 3.0 OUTER
AtomPair CA 14 CA 23 HARMONIC 15.73 3.0 OUTER
AtomPair CA 14 CA 24 HARMONIC 12.93 3.0 OUTER
AtomPair CA 14 CA 25 HARMONIC 9.62 3.0 OUTER
AtomPair CA 14 CA 26 HARMONIC 7.40 3.0 OUTER
AtomPair CA 14 CA 27 HARMONIC 4.73 3.0 OUTER
AtomPair CA 14 CA 28 HARMONIC 5.17 3.0 OUTER
AtomPair CA 14 CA 29 HARMONIC 6.05 3.0 OUTER
AtomPair CA 15 CA 22 HARMONIC 15.78 3.0 OUTER
AtomPair CA 15 CA 23 HARMONIC 12.74 3.0 OUTER
AtomPair CA 15 CA 24 HARMONIC 9.65 3.0 OUTER
AtomPair CA 15 CA 25 HARMONIC 6.97 3.0 OUTER
AtomPair CA 15 CA 26 HARMONIC 4.65 3.0 OUTER
AtomPair CA 15 CA 27 HARMONIC 4.40 3.0 OUTER
AtomPair CA 15 CA 28 HARMONIC 5.88 3.0 OUTER
AtomPair CA 15 CA 29 HARMONIC 8.64 3.0 OUTER
AtomPair CA 16 CA 22 HARMONIC 12.87 3.0 OUTER
AtomPair CA 16 CA 23 HARMONIC 9.60 3.0 OUTER
AtomPair CA 16 CA 24 HARMONIC 7.28 3.0 OUTER
AtomPair CA 16 CA 25 HARMONIC 4.67 3.0 OUTER
AtomPair CA 16 CA 26 HARMONIC 4.99 3.0 OUTER
AtomPair CA 16 CA 27 HARMONIC 6.00 3.0 OUTER
AtomPair CA 16 CA 28 HARMONIC 9.02 3.0 OUTER
AtomPair CA 16 CA 29 HARMONIC 11.61 3.0 OUTER
AtomPair CA 17 CA 22 HARMONIC 9.63 3.0 OUTER
AtomPair CA 17 CA 23 HARMONIC 7.02 3.0 OUTER
AtomPair CA 17 CA 24 HARMONIC 4.60 3.0 OUTER
AtomPair CA 17 CA 25 HARMONIC 4.48 3.0 OUTER
AtomPair CA 17 CA 26 HARMONIC 5.84 3.0 OUTER
AtomPair CA 17 CA 27 HARMONIC 8.67 3.0 OUTER
AtomPair CA 17 CA 28 HARMONIC 11.47 3.0 OUTER
AtomPair CA 17 CA 29 HARMONIC 14.66 3.0 OUTER
AtomPair CA 18 CA 22 HARMONIC 7.17 3.0 OUTER
AtomPair CA 18 CA 23 HARMONIC 4.63 3.0 OUTER
AtomPair CA 18 CA 24 HARMONIC 4.83 3.0 OUTER
AtomPair CA 18 CA 25 HARMONIC 5.96 3.0 OUTER
AtomPair CA 18 CA 26 HARMONIC 8.93 3.0 OUTER
AtomPair CA 18 CA 27 HARMONIC 11.58 3.0 OUTER
AtomPair CA 18 CA 28 HARMONIC 14.85 3.0 OUTER
AtomPair CA 18 CA 29 HARMONIC 17.81 3.0 OUTER
AtomPair CA 19 CA 22 HARMONIC 4.57 3.0 OUTER
AtomPair CA 19 CA 23 HARMONIC 4.57 3.0 OUTER
AtomPair CA 19 CA 24 HARMONIC 5.81 3.0 OUTER
AtomPair CA 19 CA 25 HARMONIC 8.72 3.0 OUTER
AtomPair CA 19 CA 26 HARMONIC 11.45 3.0 OUTER
AtomPair CA 19 CA 27 HARMONIC 14.68 3.0 OUTER
AtomPair CA 19 CA 28 HARMONIC 17.69 3.0 OUTER
AtomPair CA 19 CA 29 HARMONIC 20.97 3.0 OUTER
AtomPair CA 12 CA 32 HARMONIC 9.69 3.0 OUTER
AtomPair CA 12 CA 33 HARMONIC 10.82 3.0 OUTER
AtomPair CA 12 CA 34 HARMONIC 13.78 3.0 OUTER
AtomPair CA 12 CA 35 HARMONIC 14.09 3.0 OUTER
AtomPair CA 12 CA 36 HARMONIC 16.99 3.0 OUTER
AtomPair CA 12 CA 37 HARMONIC 20.00 3.0 OUTER
AtomPair CA 13 CA 32 HARMONIC 8.81 3.0 OUTER
AtomPair CA 13 CA 33 HARMONIC 8.64 3.0 OUTER
AtomPair CA 13 CA 34 HARMONIC 11.10 3.0 OUTER
AtomPair CA 13 CA 35 HARMONIC 11.85 3.0 OUTER
AtomPair CA 13 CA 36 HARMONIC 14.29 3.0 OUTER
AtomPair CA 13 CA 37 HARMONIC 16.95 3.0 OUTER
AtomPair CA 14 CA 32 HARMONIC 8.70 3.0 OUTER
AtomPair CA 14 CA 33 HARMONIC 8.59 3.0 OUTER
AtomPair CA 14 CA 34 HARMONIC 9.89 3.0 OUTER
AtomPair CA 14 CA 35 HARMONIC 9.61 3.0 OUTER
AtomPair CA 14 CA 36 HARMONIC 11.57 3.0 OUTER
AtomPair CA 14 CA 37 HARMONIC 14.50 3.0 OUTER
AtomPair CA 15 CA 32 HARMONIC 10.09 3.0 OUTER
AtomPair CA 15 CA 33 HARMONIC 8.59 3.0 OUTER
AtomPair CA 15 CA 34 HARMONIC 8.57 3.0 OUTER
AtomPair CA 15 CA 35 HARMONIC 8.74 3.0 OUTER
AtomPair CA 15 CA 36 HARMONIC 9.57 3.0 OUTER
AtomPair CA 15 CA 37 HARMONIC 11.82 3.0 OUTER
AtomPair CA 16 CA 32 HARMONIC 11.92 3.0 OUTER
AtomPair CA 16 CA 33 HARMONIC 10.72 3.0 OUTER
AtomPair CA 16 CA 34 HARMONIC 9.50 3.0 OUTER
AtomPair CA 16 CA 35 HARMONIC 8.41 3.0 OUTER
AtomPair CA 16 CA 36 HARMONIC 7.98 3.0 OUTER
AtomPair CA 16 CA 37 HARMONIC 10.25 3.0 OUTER
AtomPair CA 17 CA 32 HARMONIC 14.51 3.0 OUTER
AtomPair CA 17 CA 33 HARMONIC 12.54 3.0 OUTER
AtomPair CA 17 CA 34 HARMONIC 10.40 3.0 OUTER
AtomPair CA 17 CA 35 HARMONIC 9.85 3.0 OUTER
AtomPair CA 17 CA 36 HARMONIC 7.98 3.0 OUTER
AtomPair CA 17 CA 37 HARMONIC 8.77 3.0 OUTER
AtomPair CA 18 CA 32 HARMONIC 17.12 3.0 OUTER
AtomPair CA 18 CA 33 HARMONIC 15.52 3.0 OUTER
AtomPair CA 18 CA 34 HARMONIC 12.93 3.0 OUTER
AtomPair CA 18 CA 35 HARMONIC 11.56 3.0 OUTER
AtomPair CA 18 CA 36 HARMONIC 8.83 3.0 OUTER
AtomPair CA 18 CA 37 HARMONIC 9.19 3.0 OUTER
AtomPair CA 19 CA 32 HARMONIC 20.09 3.0 OUTER
AtomPair CA 19 CA 33 HARMONIC 18.03 3.0 OUTER
AtomPair CA 19 CA 34 HARMONIC 15.08 3.0 OUTER
AtomPair CA 19 CA 35 HARMONIC 14.22 3.0 OUTER
AtomPair CA 19 CA 36 HARMONIC 10.96 3.0 OUTER
AtomPair CA 19 CA 37 HARMONIC 9.93 3.0 OUTER
AtomPair CA 12 CA 44 HARMONIC 24.62 3.0 OUTER
AtomPair CA 12 CA 45 HARMONIC 24.93 3.0 OUTER
AtomPair CA 12 CA 46 HARMONIC 22.10 3.0 OUTER
AtomPair CA 12 CA 47 HARMONIC 19.82 3.0 OUTER
AtomPair CA 12 CA 48 HARMONIC 21.04 3.0 OUTER
AtomPair CA 12 CA 49 HARMONIC 20.38 3.0 OUTER
AtomPair CA 12 CA 50 HARMONIC 16.73 3.0 OUTER
AtomPair CA 12 CA 51 HARMONIC 16.42 3.0 OUTER
AtomPair CA 12 CA 52 HARMONIC 18.30 3.0 OUTER
AtomPair CA 12 CA 53 HARMONIC 16.10 3.0 OUTER
AtomPair CA 12 CA 54 HARMONIC 12.94 3.0 OUTER
AtomPair CA 12 CA 55 HARMONIC 15.26 3.0 OUTER
AtomPair CA 12 CA 56 HARMONIC 16.44 3.0 OUTER
AtomPair CA 12 CA 57 HARMONIC 13.07 3.0 OUTER
AtomPair CA 12 CA 58 HARMONIC 12.55 3.0 OUTER
AtomPair CA 13 CA 44 HARMONIC 22.89 3.0 OUTER
AtomPair CA 13 CA 45 HARMONIC 23.34 3.0 OUTER
AtomPair CA 13 CA 46 HARMONIC 20.22 3.0 OUTER
AtomPair CA 13 CA 47 HARMONIC 18.20 3.0 OUTER
AtomPair CA 13 CA 48 HARMONIC 20.03 3.0 OUTER
AtomPair CA 13 CA 49 HARMONIC 19.28 3.0 OUTER
AtomPair CA 13 CA 50 HARMONIC 15.49 3.0 OUTER
AtomPair CA 13 CA 51 HARMONIC 15.93 3.0 OUTER
AtomPair CA 13 CA 52 HARMONIC 18.16 3.0 OUTER
AtomPair CA 13 CA 53 HARMONIC 15.79 3.0 OUTER
AtomPair CA 13 CA 54 HARMONIC 13.09 3.0 OUTER
AtomPair CA 13 CA 55 HARMONIC 16.11 3.0 OUTER
AtomPair CA 13 CA 56 HARMONIC 17.27 3.0 OUTER
AtomPair CA 13 CA 57 HARMONIC 14.09 3.0 OUTER
AtomPair CA 13 CA 58 HARMONIC 14.38 3.0 OUTER
AtomPair CA 14 CA 44 HARMONIC 19.03 3.0 OUTER
AtomPair CA 14 CA 45 HARMONIC 19.48 3.0 OUTER
AtomPair CA 14 CA 46 HARMONIC 16.37 3.0 OUTER
AtomPair CA 14 CA 47 HARMONIC 14.33 3.0 OUTER
AtomPair CA 14 CA 48 HARMONIC 16.29 3.0 OUTER
AtomPair CA 14 CA 49 HARMONIC 15.63 3.0 OUTER
AtomPair CA 14 CA 50 HARMONIC 11.80 3.0 OUTER
AtomPair CA 14 CA 51 HARMONIC 12.46 3.0 OUTER
AtomPair CA 14 CA 52 HARMONIC 14.95 3.0 OUTER
AtomPair CA 14 CA 53 HARMONIC 12.78 3.0 OUTER
AtomPair CA 14 CA 54 HARMONIC 10.30 3.0 OUTER
AtomPair CA 14 CA 55 HARMONIC 13.67 3.0 OUTER
AtomPair CA 14 CA 56 HARMONIC 15.07 3.0 OUTER
AtomPair CA 14 CA 57 HARMONIC 12.42 3.0 OUTER
AtomPair CA 14 CA 58 HARMONIC 13.09 3.0 OUTER
AtomPair CA 15 CA 44 HARMONIC 17.95 3.0 OUTER
AtomPair CA 15 CA 45 HARMONIC 18.59 3.0 OUTER
AtomPair CA 15 CA 46 HARMONIC 15.17 3.0 OUTER
AtomPair CA 15 CA 47 HARMONIC 13.64 3.0 OUTER
AtomPair CA 15 CA 48 HARMONIC 16.32 3.0 OUTER
AtomPair CA 15 CA 49 HARMONIC 15.58 3.0 OUTER
AtomPair CA 15 CA 50 HARMONIC 11.90 3.0 OUTER
AtomPair CA 15 CA 51 HARMONIC 13.48 3.0 OUTER
AtomPair CA 15 CA 52 HARMONIC 16.15 3.0 OUTER
AtomPair CA 15 CA 53 HARMONIC 13.99 3.0 OUTER
AtomPair CA 15 CA 54 HARMONIC 12.33 3.0 OUTER
AtomPair CA 15 CA 55 HARMONIC 16.00 3.0 OUTER
AtomPair CA 15 CA 56 HARMONIC 17.25 3.0 OUTER
AtomPair CA 15 CA 57 HARMONIC 14.97 3.0 OUTER
AtomPair CA 15 CA 58 HARMONIC 16.22 3.0 OUTER
AtomPair CA 16 CA 44 HARMONIC 14.25 3.0 OUTER
AtomPair CA 16 CA 45 HARMONIC 14.91 3.0 OUTER
AtomPair CA 16 CA 46 HARMONIC 11.47 3.0 OUTER
AtomPair CA 16 CA 47 HARMONIC 10.13 3.0 OUTER
AtomPair CA 16 CA 48 HARMONIC 13.15 3.0 OUTER
AtomPair CA 16 CA 49 HARMONIC 12.55 3.0 OUTER
AtomPair CA 16 CA 50 HARMONIC 9.12 3.0 OUTER
AtomPair CA 16 CA 51 HARMONIC 11.21 3.0 OUTER
AtomPair CA 16 CA 52 HARMONIC 14.03 3.0 OUTER
AtomPair CA 16 CA 53 HARMONIC 12.33 3.0 OUTER
AtomPair CA 16 CA 54 HARMONIC 11.36 3.0 OUTER
AtomPair CA 16 CA 55 HARMONIC 15.01 3.0 OUTER
AtomPair CA 16 CA 56 HARMONIC 16.39 3.0 OUTER
AtomPair CA 16 CA 57 HARMONIC 14.90 3.0 OUTER
AtomPair CA 16 CA 58 HARMONIC 16.43 3.0 OUTER
AtomPair CA 17 CA 44 HARMONIC 14.33 3.0 OUTER
AtomPair CA 17 CA 45 HARMONIC 15.18 3.0 OUTER
AtomPair CA 17 CA 46 HARMONIC 11.67 3.0 OUTER
AtomPair CA 17 CA 47 HARMONIC 11.21 3.0 OUTER
AtomPair CA 17 CA 48 HARMONIC 14.70 3.0 OUTER
AtomPair CA 17 CA 49 HARMONIC 14.08 3.0 OUTER
AtomPair CA 17 CA 50 HARMONIC 11.30 3.0 OUTER
AtomPair CA 17 CA 51 HARMONIC 13.93 3.0 OUTER
AtomPair CA 17 CA 52 HARMONIC 16.62 3.0 OUTER
AtomPair CA 17 CA 53 HARMONIC 15.05 3.0 OUTER
AtomPair CA 17 CA 54 HARMONIC 14.74 3.0 OUTER
AtomPair CA 17 CA 55 HARMONIC 18.35 3.0 OUTER
AtomPair CA 17 CA 56 HARMONIC 19.53 3.0 OUTER
AtomPair CA 17 CA 57 HARMONIC 18.28 3.0 OUTER
AtomPair CA 17 CA 58 HARMONIC 20.10 3.0 OUTER
AtomPair CA 18 CA 44 HARMONIC 11.32 3.0 OUTER
AtomPair CA 18 CA 45 HARMONIC 12.23 3.0 OUTER
AtomPair CA 18 CA 46 HARMONIC 8.94 3.0 OUTER
AtomPair CA 18 CA 47 HARMONIC 9.19 3.0 OUTER
AtomPair CA 18 CA 48 HARMONIC 12.84 3.0 OUTER
AtomPair CA 18 CA 49 HARMONIC 12.46 3.0 OUTER
AtomPair CA 18 CA 50 HARMONIC 10.56 3.0 OUTER
AtomPair CA 18 CA 51 HARMONIC 13.43 3.0 OUTER
AtomPair CA 18 CA 52 HARMONIC 15.95 3.0 OUTER
AtomPair CA 18 CA 53 HARMONIC 15.00 3.0 OUTER
AtomPair CA 18 CA 54 HARMONIC 15.39 3.0 OUTER
AtomPair CA 18 CA 55 HARMONIC 18.66 3.0 OUTER
AtomPair CA 18 CA 56 HARMONIC 19.87 3.0 OUTER
AtomPair CA 18 CA 57 HARMONIC 19.35 3.0 OUTER
AtomPair CA 18 CA 58 HARMONIC 21.28 3.0 OUTER
AtomPair CA 19 CA 44 HARMONIC 13.14 3.0 OUTER
AtomPair CA 19 CA 45 HARMONIC 14.14 3.0 OUTER
AtomPair CA 19 CA 46 HARMONIC 11.26 3.0 OUTER
AtomPair CA 19 CA 47 HARMONIC 12.23 3.0 OUTER
AtomPair CA 19 CA 48 HARMONIC 15.82 3.0 OUTER
AtomPair CA 19 CA 49 HARMONIC 15.43 3.0 OUTER
AtomPair CA 19 CA 50 HARMONIC 14.08 3.0 OUTER
AtomPair CA 19 CA 51 HARMONIC 17.06 3.0 OUTER
AtomPair CA 19 CA 52 HARMONIC 19.40 3.0 OUTER
AtomPair CA 19 CA 53 HARMONIC 18.49 3.0 OUTER
AtomPair CA 19 CA 54 HARMONIC 19.16 3.0 OUTER
AtomPair CA 19 CA 55 HARMONIC 22.41 3.0 OUTER
AtomPair CA 19 CA 56 HARMONIC 23.45 3.0 OUTER
AtomPair CA 19 CA 57 HARMONIC 22.99 3.0 OUTER
AtomPair CA 19 CA 58 HARMONIC 25.08 3.0 OUTER
AtomPair CA 22 CA 32 HARMONIC 20.98 3.0 OUTER
AtomPair CA 22 CA 33 HARMONIC 18.89 3.0 OUTER
AtomPair CA 22 CA 34 HARMONIC 15.41 3.0 OUTER
AtomPair CA 22 CA 35 HARMONIC 14.49 3.0 OUTER
AtomPair CA 22 CA 36 HARMONIC 10.75 3.0 OUTER
AtomPair CA 22 CA 37 HARMONIC 8.58 3.0 OUTER
AtomPair CA 23 CA 32 HARMONIC 17.61 3.0 OUTER
AtomPair CA 23 CA 33 HARMONIC 15.89 3.0 OUTER
AtomPair CA 23 CA 34 HARMONIC 12.56 3.0 OUTER
AtomPair CA 23 CA 35 HARMONIC 11.10 3.0 OUTER
AtomPair CA 23 CA 36 HARMONIC 7.47 3.0 OUTER
AtomPair CA 23 CA 37 HARMONIC 6.43 3.0 OUTER
AtomPair CA 24 CA 32 HARMONIC 14.80 3.0 OUTER
AtomPair CA 24 CA 33 HARMONIC 12.61 3.0 OUTER
AtomPair CA 24 CA 34 HARMONIC 9.39 3.0 OUTER
AtomPair CA 24 CA 35 HARMONIC 8.77 3.0 OUTER
AtomPair CA 24 CA 36 HARMONIC 5.54 3.0 OUTER
AtomPair CA 24 CA 37 HARMONIC 4.69 3.0 OUTER
AtomPair CA 25 CA 32 HARMONIC 11.44 3.0 OUTER
AtomPair CA 25 CA 33 HARMONIC 9.83 3.0 OUTER
AtomPair CA 25 CA 34 HARMONIC 7.12 3.0 OUTER
AtomPair CA 25 CA 35 HARMONIC 5.69 3.0 OUTER
AtomPair CA 25 CA 36 HARMONIC 3.62 3.0 OUTER
AtomPair CA 25 CA 37 HARMONIC 5.67 3.0 OUTER
AtomPair CA 26 CA 32 HARMONIC 9.06 3.0 OUTER
AtomPair CA 26 CA 33 HARMONIC 6.73 3.0 OUTER
AtomPair CA 26 CA 34 HARMONIC 4.83 3.0 OUTER
AtomPair CA 26 CA 35 HARMONIC 5.31 3.0 OUTER
AtomPair CA 26 CA 36 HARMONIC 5.50 3.0 OUTER
AtomPair CA 26 CA 37 HARMONIC 7.42 3.0 OUTER
AtomPair CA 27 CA 32 HARMONIC 6.03 3.0 OUTER
AtomPair CA 27 CA 33 HARMONIC 5.03 3.0 OUTER
AtomPair CA 27 CA 34 HARMONIC 5.30 3.0 OUTER
AtomPair CA 27 CA 35 HARMONIC 5.10 3.0 OUTER
AtomPair CA 27 CA 36 HARMONIC 7.41 3.0 OUTER
AtomPair CA 27 CA 37 HARMONIC 10.36 3.0 OUTER
AtomPair CA 28 CA 32 HARMONIC 5.45 3.0 OUTER
AtomPair CA 28 CA 33 HARMONIC 4.03 3.0 OUTER
AtomPair CA 28 CA 34 HARMONIC 6.55 3.0 OUTER
AtomPair CA 28 CA 35 HARMONIC 8.01 3.0 OUTER
AtomPair CA 28 CA 36 HARMONIC 10.69 3.0 OUTER
AtomPair CA 28 CA 37 HARMONIC 13.14 3.0 OUTER
AtomPair CA 29 CA 32 HARMONIC 5.12 3.0 OUTER
AtomPair CA 29 CA 33 HARMONIC 6.20 3.0 OUTER
AtomPair CA 29 CA 34 HARMONIC 9.49 3.0 OUTER
AtomPair CA 29 CA 35 HARMONIC 10.20 3.0 OUTER
AtomPair CA 29 CA 36 HARMONIC 13.46 3.0 OUTER
AtomPair CA 29 CA 37 HARMONIC 16.34 3.0 OUTER
AtomPair CA 22 CA 44 HARMONIC 14.86 3.0 OUTER
AtomPair CA 22 CA 45 HARMONIC 14.85 3.0 OUTER
AtomPair CA 22 CA 46 HARMONIC 12.05 3.0 OUTER
AtomPair CA 22 CA 47 HARMONIC 14.22 3.0 OUTER
AtomPair CA 22 CA 48 HARMONIC 17.28 3.0 OUTER
AtomPair CA 22 CA 49 HARMONIC 16.12 3.0 OUTER
AtomPair CA 22 CA 50 HARMONIC 15.46 3.0 OUTER
AtomPair CA 22 CA 51 HARMONIC 18.92 3.0 OUTER
AtomPair CA 22 CA 52 HARMONIC 20.51 3.0 OUTER
AtomPair CA 22 CA 53 HARMONIC 19.34 3.0 OUTER
AtomPair CA 22 CA 54 HARMONIC 20.78 3.0 OUTER
AtomPair CA 22 CA 55 HARMONIC 23.94 3.0 OUTER
AtomPair CA 22 CA 56 HARMONIC 24.33 3.0 OUTER
AtomPair CA 22 CA 57 HARMONIC 24.08 3.0 OUTER
AtomPair CA 22 CA 58 HARMONIC 26.69 3.0 OUTER
AtomPair CA 23 CA 44 HARMONIC 12.87 3.0 OUTER
AtomPair CA 23 CA 45 HARMONIC 12.60 3.0 OUTER
AtomPair CA 23 CA 46 HARMONIC 9.25 3.0 OUTER
AtomPair CA 23 CA 47 HARMONIC 11.16 3.0 OUTER
AtomPair CA 23 CA 48 HARMONIC 14.19 3.0 OUTER
AtomPair CA 23 CA 49 HARMONIC 12.79 3.0 OUTER
AtomPair CA 23 CA 50 HARMONIC 11.76 3.0 OUTER
AtomPair CA 23 CA 51 HARMONIC 15.29 3.0 OUTER
AtomPair CA 23 CA 52 HARMONIC 16.90 3.0 OUTER
AtomPair CA 23 CA 53 HARMONIC 15.56 3.0 OUTER
AtomPair CA 23 CA 54 HARMONIC 16.92 3.0 OUTER
AtomPair CA 23 CA 55 HARMONIC 20.14 3.0 OUTER
AtomPair CA 23 CA 56 HARMONIC 20.54 3.0 OUTER
AtomPair CA 23 CA 57 HARMONIC 20.23 3.0 OUTER
AtomPair CA 23 CA 58 HARMONIC 22.81 3.0 OUTER
AtomPair CA 24 CA 44 HARMONIC 15.21 3.0 OUTER
AtomPair CA 24 CA 45 HARMONIC 15.15 3.0 OUTER
AtomPair CA 24 CA 46 HARMONIC 11.47 3.0 OUTER
AtomPair CA 24 CA 47 HARMONIC 12.46 3.0 OUTER
AtomPair CA 24 CA 48 HARMONIC 15.61 3.0 OUTER
AtomPair CA 24 CA 49 HARMONIC 14.07 3.0 OUTER
AtomPair CA 24 CA 50 HARMONIC 12.05 3.0 OUTER
AtomPair CA 24 CA 51 HARMONIC 15.46 3.0 OUTER
AtomPair CA 24 CA 52 HARMONIC 17.32 3.0 OUTER
AtomPair CA 24 CA 53 HARMONIC 15.37 3.0 OUTER
AtomPair CA 24 CA 54 HARMONIC 16.10 3.0 OUTER
AtomPair CA 24 CA 55 HARMONIC 19.68 3.0 OUTER
AtomPair CA 24 CA 56 HARMONIC 20.07 3.0 OUTER
AtomPair CA 24 CA 57 HARMONIC 19.05 3.0 OUTER
AtomPair CA 24 CA 58 HARMONIC 21.57 3.0 OUTER
AtomPair CA 25 CA 44 HARMONIC 14.78 3.0 OUTER
AtomPair CA 25 CA 45 HARMONIC 14.49 3.0 OUTER
AtomPair CA 25 CA 46 HARMONIC 10.68 3.0 OUTER
AtomPair CA 25 CA 47 HARMONIC 10.95 3.0 OUTER
AtomPair CA 25 CA 48 HARMONIC 13.73 3.0 OUTER
AtomPair CA 25 CA 49 HARMONIC 12.01 3.0 OUTER
AtomPair CA 25 CA 50 HARMONIC 9.31 3.0 OUTER
AtomPair CA 25 CA 51 HARMONIC 12.55 3.0 OUTER
AtomPair CA 25 CA 52 HARMONIC 14.40 3.0 OUTER
AtomPair CA 25 CA 53 HARMONIC 12.11 3.0 OUTER
AtomPair CA 25 CA 54 HARMONIC 12.49 3.0 OUTER
AtomPair CA 25 CA 55 HARMONIC 16.18 3.0 OUTER
AtomPair CA 25 CA 56 HARMONIC 16.58 3.0 OUTER
AtomPair CA 25 CA 57 HARMONIC 15.31 3.0 OUTER
AtomPair CA 25 CA 58 HARMONIC 17.76 3.0 OUTER
AtomPair CA 26 CA 44 HARMONIC 18.07 3.0 OUTER
AtomPair CA 26 CA 45 HARMONIC 17.98 3.0 OUTER
AtomPair CA 26 CA 46 HARMONIC 14.22 3.0 OUTER
AtomPair CA 26 CA 47 HARMONIC 13.88 3.0 OUTER
AtomPair CA 26 CA 48 HARMONIC 16.52 3.0 OUTER
AtomPair CA 26 CA 49 HARMONIC 14.86 3.0 OUTER
AtomPair CA 26 CA 50 HARMONIC 11.65 3.0 OUTER
AtomPair CA 26 CA 51 HARMONIC 14.31 3.0 OUTER
AtomPair CA 26 CA 52 HARMONIC 16.25 3.0 OUTER
AtomPair CA 26 CA 53 HARMONIC 13.53 3.0 OUTER
AtomPair CA 26 CA 54 HARMONIC 13.09 3.0 OUTER
AtomPair CA 26 CA 55 HARMONIC 16.92 3.0 OUTER
AtomPair CA 26 CA 56 HARMONIC 17.28 3.0 OUTER
AtomPair CA 26 CA 57 HARMONIC 15.17 3.0 OUTER
AtomPair CA 26 CA 58 HARMONIC 17.41 3.0 OUTER
AtomPair CA 27 CA 44 HARMONIC 18.86 3.0 OUTER
AtomPair CA 27 CA 45 HARMONIC 18.60 3.0 OUTER
AtomPair CA 27 CA 46 HARMONIC 15.07 3.0 OUTER
AtomPair CA 27 CA 47 HARMONIC 14.13 3.0 OUTER
AtomPair CA 27 CA 48 HARMONIC 16.13 3.0 OUTER
AtomPair CA 27 CA 49 HARMONIC 14.46 3.0 OUTER
AtomPair CA 27 CA 50 HARMONIC 10.93 3.0 OUTER
AtomPair CA 27 CA 51 HARMONIC 12.86 3.0 OUTER
AtomPair CA 27 CA 52 HARMONIC 14.61 3.0 OUTER
AtomPair CA 27 CA 53 HARMONIC 11.65 3.0 OUTER
AtomPair CA 27 CA 54 HARMONIC 10.50 3.0 OUTER
AtomPair CA 27 CA 55 HARMONIC 14.24 3.0 OUTER
AtomPair CA 27 CA 56 HARMONIC 14.59 3.0 OUTER
AtomPair CA 27 CA 57 HARMONIC 12.00 3.0 OUTER
AtomPair CA 27 CA 58 HARMONIC 13.98 3.0 OUTER
AtomPair CA 28 CA 44 HARMONIC 22.49 3.0 OUTER
AtomPair CA 28 CA 45 HARMONIC 22.39 3.0 OUTER
AtomPair CA 28 CA 46 HARMONIC 18.90 3.0 OUTER
AtomPair CA 28 CA 47 HARMONIC 17.74 3.0 OUTER
AtomPair CA 28 CA 48 HARMONIC 19.66 3.0 OUTER
AtomPair CA 28 CA 49 HARMONIC 18.12 3.0 OUTER
AtomPair CA 28 CA 50 HARMONIC 14.52 3.0 OUTER
AtomPair CA 28 CA 51 HARMONIC 15.97 3.0 OUTER
AtomPair CA 28 CA 52 HARMONIC 17.68 3.0 OUTER
AtomPair CA 28 CA 53 HARMONIC 14.65 3.0 OUTER
AtomPair CA 28 CA 54 HARMONIC 12.95 3.0 OUTER
AtomPair CA 28 CA 55 HARMONIC 16.41 3.0 OUTER
AtomPair CA 28 CA 56 HARMONIC 16.69 3.0 OUTER
AtomPair CA 28 CA 57 HARMONIC 13.50 3.0 OUTER
AtomPair CA 28 CA 58 HARMONIC 15.01 3.0 OUTER
AtomPair CA 29 CA 44 HARMONIC 24.03 3.0 OUTER
AtomPair CA 29 CA 45 HARMONIC 23.80 3.0 OUTER
AtomPair CA 29 CA 46 HARMONIC 20.60 3.0 OUTER
AtomPair CA 29 CA 47 HARMONIC 19.07 3.0 OUTER
AtomPair CA 29 CA 48 HARMONIC 20.40 3.0 OUTER
AtomPair CA 29 CA 49 HARMONIC 18.94 3.0 OUTER
AtomPair CA 29 CA 50 HARMONIC 15.39 3.0 OUTER
AtomPair CA 29 CA 51 HARMONIC 16.06 3.0 OUTER
AtomPair CA 29 CA 52 HARMONIC 17.44 3.0 OUTER
AtomPair CA 29 CA 53 HARMONIC 14.47 3.0 OUTER
AtomPair CA 29 CA 54 HARMONIC 12.21 3.0 OUTER
AtomPair CA 29 CA 55 HARMONIC 15.11 3.0 OUTER
AtomPair CA 29 CA 56 HARMONIC 15.33 3.0 OUTER
AtomPair CA 29 CA 57 HARMONIC 11.75 3.0 OUTER
AtomPair CA 29 CA 58 HARMONIC 12.65 3.0 OUTER
AtomPair CA 32 CA 44 HARMONIC 23.28 3.0 OUTER
AtomPair CA 32 CA 45 HARMONIC 22.30 3.0 OUTER
AtomPair CA 32 CA 46 HARMONIC 18.99 3.0 OUTER
AtomPair CA 32 CA 47 HARMONIC 18.35 3.0 OUTER
AtomPair CA 32 CA 48 HARMONIC 19.40 3.0 OUTER
AtomPair CA 32 CA 49 HARMONIC 17.07 3.0 OUTER
AtomPair CA 32 CA 50 HARMONIC 14.04 3.0 OUTER
AtomPair CA 32 CA 51 HARMONIC 15.51 3.0 OUTER
AtomPair CA 32 CA 52 HARMONIC 16.02 3.0 OUTER
AtomPair CA 32 CA 53 HARMONIC 12.44 3.0 OUTER
AtomPair CA 32 CA 54 HARMONIC 11.49 3.0 OUTER
AtomPair CA 32 CA 55 HARMONIC 14.50 3.0 OUTER
AtomPair CA 32 CA 56 HARMONIC 13.59 3.0 OUTER
AtomPair CA 32 CA 57 HARMONIC 10.24 3.0 OUTER
AtomPair CA 32 CA 58 HARMONIC 12.57 3.0 OUTER
AtomPair CA 33 CA 44 HARMONIC 23.37 3.0 OUTER
AtomPair CA 33 CA 45 HARMONIC 22.68 3.0 OUTER
AtomPair CA 33 CA 46 HARMONIC 19.07 3.0 OUTER
AtomPair CA 33 CA 47 HARMONIC 18.67 3.0 OUTER
AtomPair CA 33 CA 48 HARMONIC 20.38 3.0 OUTER
AtomPair CA 33 CA 49 HARMONIC 18.14 3.0 OUTER
AtomPair CA 33 CA 50 HARMONIC 14.98 3.0 OUTER
AtomPair CA 33 CA 51 HARMONIC 17.03 3.0 OUTER
AtomPair CA 33 CA 52 HARMONIC 18.03 3.0 OUTER
AtomPair CA 33 CA 53 HARMONIC 14.54 3.0 OUTER
AtomPair CA 33 CA 54 HARMONIC 13.79 3.0 OUTER
AtomPair CA 33 CA 55 HARMONIC 17.21 3.0 OUTER
AtomPair CA 33 CA 56 HARMONIC 16.62 3.0 OUTER
AtomPair CA 33 CA 57 HARMONIC 13.53 3.0 OUTER
AtomPair CA 33 CA 58 HARMONIC 15.88 3.0 OUTER
AtomPair CA 34 CA 44 HARMONIC 21.37 3.0 OUTER
AtomPair CA 34 CA 45 HARMONIC 20.53 3.0 OUTER
AtomPair CA 34 CA 46 HARMONIC 16.79 3.0 OUTER
AtomPair CA 34 CA 47 HARMONIC 17.01 3.0 OUTER
AtomPair CA 34 CA 48 HARMONIC 18.99 3.0 OUTER
AtomPair CA 34 CA 49 HARMONIC 16.53 3.0 OUTER
AtomPair CA 34 CA 50 HARMONIC 13.71 3.0 OUTER
AtomPair CA 34 CA 51 HARMONIC 16.46 3.0 OUTER
AtomPair CA 34 CA 52 HARMONIC 17.44 3.0 OUTER
AtomPair CA 34 CA 53 HARMONIC 14.03 3.0 OUTER
AtomPair CA 34 CA 54 HARMONIC 14.09 3.0 OUTER
AtomPair CA 34 CA 55 HARMONIC 17.71 3.0 OUTER
AtomPair CA 34 CA 56 HARMONIC 17.05 3.0 OUTER
AtomPair CA 34 CA 57 HARMONIC 14.60 3.0 OUTER
AtomPair CA 34 CA 58 HARMONIC 17.41 3.0 OUTER
AtomPair CA 35 CA 44 HARMONIC 18.38 3.0 OUTER
AtomPair CA 35 CA 45 HARMONIC 17.21 3.0 OUTER
AtomPair CA 35 CA 46 HARMONIC 13.59 3.0 OUTER
AtomPair CA 35 CA 47 HARMONIC 13.93 3.0 OUTER
AtomPair CA 35 CA 48 HARMONIC 15.54 3.0 OUTER
AtomPair CA 35 CA 49 HARMONIC 12.86 3.0 OUTER
AtomPair CA 35 CA 50 HARMONIC 10.24 3.0 OUTER
AtomPair CA 35 CA 51 HARMONIC 13.14 3.0 OUTER
AtomPair CA 35 CA 52 HARMONIC 13.83 3.0 OUTER
AtomPair CA 35 CA 53 HARMONIC 10.44 3.0 OUTER
AtomPair CA 35 CA 54 HARMONIC 11.03 3.0 OUTER
AtomPair CA 35 CA 55 HARMONIC 14.59 3.0 OUTER
AtomPair CA 35 CA 56 HARMONIC 13.87 3.0 OUTER
AtomPair CA 35 CA 57 HARMONIC 11.94 3.0 OUTER
AtomPair CA 35 CA 58 HARMONIC 15.01 3.0 OUTER
AtomPair CA 36 CA 44 HARMONIC 16.45 3.0 OUTER
AtomPair CA 36 CA 45 HARMONIC 15.34 3.0 OUTER
AtomPair CA 36 CA 46 HARMONIC 11.58 3.0 OUTER
AtomPair CA 36 CA 47 HARMONIC 12.64 3.0 OUTER
AtomPair CA 36 CA 48 HARMONIC 14.75 3.0 OUTER
AtomPair CA 36 CA 49 HARMONIC 12.17 3.0 OUTER
AtomPair CA 36 CA 50 HARMONIC 10.06 3.0 OUTER
AtomPair CA 36 CA 51 HARMONIC 13.57 3.0 OUTER
AtomPair CA 36 CA 52 HARMONIC 14.50 3.0 OUTER
AtomPair CA 36 CA 53 HARMONIC 11.68 3.0 OUTER
AtomPair CA 36 CA 54 HARMONIC 12.85 3.0 OUTER
AtomPair CA 36 CA 55 HARMONIC 16.38 3.0 OUTER
AtomPair CA 36 CA 56 HARMONIC 15.94 3.0 OUTER
AtomPair CA 36 CA 57 HARMONIC 14.71 3.0 OUTER
AtomPair CA 36 CA 58 HARMONIC 17.75 3.0 OUTER
AtomPair CA 37 CA 44 HARMONIC 17.97 3.0 OUTER
AtomPair CA 37 CA 45 HARMONIC 16.95 3.0 OUTER
AtomPair CA 37 CA 46 HARMONIC 13.28 3.0 OUTER
AtomPair CA 37 CA 47 HARMONIC 14.92 3.0 OUTER
AtomPair CA 37 CA 48 HARMONIC 17.34 3.0 OUTER
AtomPair CA 37 CA 49 HARMONIC 14.86 3.0 OUTER
AtomPair CA 37 CA 50 HARMONIC 13.22 3.0 OUTER
AtomPair CA 37 CA 51 HARMONIC 16.89 3.0 OUTER
AtomPair CA 37 CA 52 HARMONIC 17.84 3.0 OUTER
AtomPair CA 37 CA 53 HARMONIC 15.23 3.0 OUTER
AtomPair CA 37 CA 54 HARMONIC 16.59 3.0 OUTER
AtomPair CA 37 CA 55 HARMONIC 20.09 3.0 OUTER
AtomPair CA 37 CA 56 HARMONIC 19.57 3.0 OUTER
AtomPair CA 37 CA 57 HARMONIC 18.44 3.0 OUTER
AtomPair CA 37 CA 58 HARMONIC 21.54 3.0 OUTER